flux-nodered/flows 7.json
[
    {
        "id": "owm_tab_01",
        "type": "tab",
        "label": "OpenWeatherMap → Venus OS",
        "disabled": false,
        "info": "Récupère température, humidité, pression, vent depuis OpenWeatherMap toutes les 5 min.\nPublie vers deux services D-Bus Venus OS :\n  - santuario/meteo/venus  → com.victronenergy.meteo (instance 40) : ExternalTemperature, WindDirection, WindSpeed\n  - santuario/heat/1/venus → com.victronenergy.temperature.mqtt_1 (instance 20) : Temperature, Humidity, Pressure, TemperatureType=4 (Outdoor)\n\nLocalisation : Badalucco (43.9151°N, 7.8452°E)",
        "env": []
    },

    {
        "id": "owm_inject_5min",
        "type": "inject",
        "z": "owm_tab_01",
        "name": "OpenWeatherMap (toutes les 5 min)",
        "props": [],
        "repeat": "300",
        "crontab": "",
        "once": true,
        "onceDelay": 1,
        "topic": "",
        "x": 230,
        "y": 80,
        "wires": [
            ["owm_http_request"]
        ]
    },

    {
        "id": "owm_http_request",
        "type": "http request",
        "z": "owm_tab_01",
        "name": "OpenWeatherMap API",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://api.openweathermap.org/data/2.5/weather?lat=43.9151&lon=7.8452&appid=d759c8b8a2d56a671810e0eef605f8b6&units=metric&lang=fr",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 520,
        "y": 80,
        "wires": [
            ["owm_fn_extract"]
        ]
    },

    {
        "id": "owm_fn_extract",
        "type": "function",
        "z": "owm_tab_01",
        "name": "Extraire données météo",
        "func": "const data = msg.payload;\n\n// Vérifier la validité de la réponse\nif (!data || !data.main || !data.wind) {\n    node.error('OpenWeatherMap: réponse invalide — ' + JSON.stringify(data), msg);\n    node.status({fill: 'red', shape: 'ring', text: 'Réponse invalide'});\n    return null;\n}\n\nif (data.cod && data.cod !== 200) {\n    node.error('OpenWeatherMap erreur ' + data.cod + ': ' + (data.message || ''), msg);\n    node.status({fill: 'red', shape: 'dot', text: 'Erreur ' + data.cod});\n    return null;\n}\n\n// === Extraction des valeurs ===\nconst extTemp   = data.main.temp;         // °C\nconst humidity  = data.main.humidity;     // %\nconst pressKpa  = data.main.pressure / 10.0; // hPa → kPa\nconst windSpeed = data.wind.speed  || 0;  // m/s\nconst windDir   = data.wind.deg    || 0;  // degrés 0-360\n\n// Stocker dans contexte global pour le keepalive (25s)\nglobal.set('owm_ext_temp',   extTemp);\nglobal.set('owm_humidity',   humidity);\nglobal.set('owm_press_kpa',  pressKpa);\nglobal.set('owm_wind_speed', windSpeed);\nglobal.set('owm_wind_dir',   windDir);\n\nnode.status({\n    fill: 'green', shape: 'dot',\n    text: `${extTemp.toFixed(1)}°C · ${humidity}% · ${windSpeed}m/s · ${windDir}°`\n});\n\n// === Message 1 : com.victronenergy.meteo (instance 40) ===\nconst meteoMsg = {\n    topic: 'santuario/meteo/venus',\n    payload: JSON.stringify({\n        ExternalTemperature: extTemp,\n        WindDirection:       windDir,\n        WindSpeed:           windSpeed\n    })\n};\n\n// === Message 2 : com.victronenergy.temperature.mqtt_1 (instance 20) ===\nconst heatMsg = {\n    topic: 'santuario/heat/1/venus',\n    payload: JSON.stringify({\n        Temperature:     extTemp,\n        TemperatureType: 4,\n        Status:          0,\n        Humidity:        humidity,\n        Pressure:        pressKpa,\n        CustomName:      'Météo Extérieure',\n        ProductName:     'OpenWeatherMap'\n    })\n};\n\nreturn [meteoMsg, heatMsg];",
        "outputs": 2,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 80,
        "wires": [
            ["owm_mqtt_out", "owm_debug"],
            ["owm_mqtt_out", "owm_debug"]
        ]
    },

    {
        "id": "owm_mqtt_out",
        "type": "mqtt out",
        "z": "owm_tab_01",
        "name": "Venus OS MQTT",
        "topic": "",
        "qos": "1",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "pi5_mqtt_broker",
        "x": 600,
        "y": 240,
        "wires": []
    },

    {
        "id": "owm_debug",
        "type": "debug",
        "z": "owm_tab_01",
        "name": "debug OWM",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 300,
        "wires": []
    },

    {
        "id": "owm_keepalive_inject",
        "type": "inject",
        "z": "owm_tab_01",
        "name": "Keepalive Venus (toutes les 25s)",
        "props": [],
        "repeat": "25",
        "crontab": "",
        "once": false,
        "onceDelay": 0,
        "topic": "",
        "x": 210,
        "y": 400,
        "wires": [
            ["owm_keepalive_fn"]
        ]
    },

    {
        "id": "owm_keepalive_fn",
        "type": "function",
        "z": "owm_tab_01",
        "name": "Republier depuis contexte global",
        "func": "const extTemp   = global.get('owm_ext_temp');\nconst humidity  = global.get('owm_humidity');\nconst pressKpa  = global.get('owm_press_kpa');\nconst windSpeed = global.get('owm_wind_speed');\nconst windDir   = global.get('owm_wind_dir');\n\n// Attendre la première récupération OpenWeatherMap\nif (extTemp === undefined || extTemp === null) {\n    return null;\n}\n\nconst meteoMsg = {\n    topic: 'santuario/meteo/venus',\n    payload: JSON.stringify({\n        ExternalTemperature: extTemp,\n        WindDirection:       windDir  || 0,\n        WindSpeed:           windSpeed || 0\n    })\n};\n\nconst heatMsg = {\n    topic: 'santuario/heat/1/venus',\n    payload: JSON.stringify({\n        Temperature:     extTemp,\n        TemperatureType: 4,\n        Status:          0,\n        Humidity:        humidity  || 0,\n        Pressure:        pressKpa  || 0,\n        CustomName:      'Météo Extérieure',\n        ProductName:     'OpenWeatherMap'\n    })\n};\n\nreturn [meteoMsg, heatMsg];",
        "outputs": 2,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 400,
        "wires": [
            ["owm_mqtt_out"],
            ["owm_mqtt_out"]
        ]
    },

    {
        "id": "owm_comment_setup",
        "type": "comment",
        "z": "owm_tab_01",
        "name": "Services D-Bus cibles",
        "info": "## Services D-Bus publiés\n\n### com.victronenergy.meteo (instance 40)\nTopic : `santuario/meteo/venus`\n- `/ExternalTemperature` °C\n- `/WindDirection` degrés (0-360)\n- `/WindSpeed` m/s\n\n### com.victronenergy.temperature.mqtt_1 (instance 20)\nTopic : `santuario/heat/1/venus`\n- `/Temperature` °C\n- `/TemperatureType` = 4 (Outdoor)\n- `/Status` = 0 (Ok)\n- `/Humidity` %\n- `/Pressure` kPa\n- `/CustomName` = Météo Extérieure\n\n## Fréquences\n- Appel API OWM : toutes les 5 minutes\n- Keepalive Venus OS : toutes les 25 secondes\n\n## Localisation\nBadalucco (43.9151°N, 7.8452°E)",
        "x": 850,
        "y": 400,
        "wires": []
    },

    {
        "id": "pi5_mqtt_broker",
        "type": "mqtt-broker",
        "name": "Pi5 MQTT",
        "broker": "dalybms-mosquitto",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    }
]
