flux-nodered/Flux-All.json
[
    {
        "id": "f9c19fc3b4cd942b",
        "type": "tab",
        "label": "Charge Current",
        "disabled": false,
        "locked": true,
        "info": "Migré vers MQTT — Venus OS via bridge MQTT Pi5→NanoPi\nPortal ID: c0619ab9929a",
        "env": []
    },
    {
        "id": "66a9fe8bcf4c06a4",
        "type": "tab",
        "label": "Commande DEYE ",
        "disabled": false,
        "info": "Gestion DEYE avec protection anti-oscillation\n- Minimum 2 min OFF avant rallumage\n- Hystérésis large\n- Uniquement en off-grid"
    },
    {
        "id": "d8d4c21c04320036",
        "type": "tab",
        "label": "Shelly",
        "disabled": false,
        "info": "shellypro2pm-ec62608840a4",
        "env": []
    },
    {
        "id": "a9df6ef8e6d5c24e",
        "type": "tab",
        "label": "Manage waterHeater",
        "disabled": false,
        "locked": true,
        "info": "",
        "env": []
    },
    {
        "id": "5cf3b669d16ebec5",
        "type": "tab",
        "label": "Set waterHeater",
        "disabled": false,
        "locked": true,
        "info": "",
        "env": []
    },
    {
        "id": "tab_heatpump",
        "type": "tab",
        "label": "Heatpump / Chauffe-eau",
        "disabled": false,
        "locked": true,
        "info": "Validation com.victronenergy.heatpump.mqtt_1\nTopic : santuario/heatpump/1/venus\nConfig NanoPi : [[heatpumps]] mqtt_index=1 device_instance=201"
    },
    {
        "id": "tab_switch",
        "type": "tab",
        "label": "Switch / ATS",
        "disabled": false,
        "info": "Validation com.victronenergy.switch.mqtt_1\nTopic : santuario/switch/1/venus\nConfig NanoPi : [[switches]] mqtt_index=1 device_instance=301"
    },
    {
        "id": "tab_platform",
        "type": "tab",
        "label": "Platform Pi5",
        "disabled": false,
        "info": "Validation com.victronenergy.platform (singleton)\nTopic fixe : santuario/platform/venus\nPas de config.toml nécessaire — singleton activé par défaut si venus.enabled=true"
    },
    {
        "id": "d1e2eba421500b9c",
        "type": "tab",
        "label": "Irradiance RS485",
        "disabled": false,
        "locked": true,
        "info": "Capteur irradiance solaire RS485 Modbus RTU\n\n## Architecture\n- Service systemd `irradiance-rs485` lit le capteur (Modbus RTU addr=0x05, FC=04, reg=0x0000)\n- Port /dev/ttyUSB1, 9600 baud 8N1\n- Publie sur MQTT `santuario/irradiance/raw` (payload = entier W/m²)\n- Ce flow souscrit, met à jour le contexte global `irradiance_wm2`\n- Le keepalive de l'onglet Meteo lit ce contexte et l'inclut dans `santuario/meteo/venus`\n\n## Fichiers Pi5\n  ~/Daly-BMS-Rust/contrib/irradiance-rs485/irradiance_reader.py\n  ~/Daly-BMS-Rust/contrib/irradiance-rs485/irradiance-rs485.service\n\n## Diagnostic Pi5\n  systemctl status irradiance-rs485\n  journalctl -u irradiance-rs485 -f\n  mosquitto_sub -h localhost -p 1883 -t 'santuario/irradiance/raw' -v\n\n## Diagnostic NanoPi\n  dbus -y com.victronenergy.meteo /Irradiance GetValue",
        "env": []
    },
    {
        "id": "b52ddadc22b9d1fc",
        "type": "tab",
        "label": "Meteo",
        "disabled": false,
        "info": "Open-Meteo (5 min) → température / humidité / pression / vent → Venus OS\nProduction solaire du jour : MPPT History/Daily/0/Yield + PVInverter delta journalier\n\nPersistance pvinv_baseline :\n  Stockée en MQTT retained (santuario/persist/pvinv_baseline)\n  Mosquitto persistence=true → survit aux redémarrages Pi5 et NanoPi\n  Pas de modifications Docker ni de settings.js nécessaires.",
        "env": []
    },
    {
        "id": "943751b830fb2ee3",
        "type": "tab",
        "label": "Inverter/Charger → santuario/inverter/venus",
        "disabled": false,
        "info": "Victron MultiPlus / CGWACS données → MQTT\nPublie sur santuario/inverter/venus pour daly-bms-server"
    },
    {
        "id": "smartshunt_tab",
        "type": "tab",
        "label": "SmartShunt → santuario/system/venus",
        "disabled": false,
        "info": "SmartShunt 500A → D-Bus NanoPi → MQTT → Pi5 daly-bms-server\nPublie à santuario/system/venus avec format attendu par le serveur",
        "env": []
    },
    {
        "id": "d5ab0c6e1ef8eb03",
        "type": "tab",
        "label": "Tasmota",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "pi5_mqtt_broker_fip",
        "type": "mqtt-broker",
        "name": "Pi5 MQTT",
        "broker": "dalybms-mosquitto",
        "port": "1883",
        "clientid": "nodered_feedinpower",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "pi5_mqtt_broker",
        "type": "mqtt-broker",
        "name": "Pi5 MQTT",
        "broker": "dalybms-mosquitto",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "victron_mqtt",
        "type": "mqtt-broker",
        "name": "Pi5 MQTT",
        "broker": "dalybms-mosquitto",
        "port": "1883",
        "clientid": "nodered_deye",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "pi5_mqtt_broker_swh",
        "type": "mqtt-broker",
        "name": "Pi5 MQTT",
        "broker": "dalybms-mosquitto",
        "port": "1883",
        "clientid": "nodered_setwaterheater",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "pi5_mqtt_broker_wh",
        "type": "mqtt-broker",
        "name": "Pi5 MQTT",
        "broker": "dalybms-mosquitto",
        "port": "1883",
        "clientid": "nodered_waterheater",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "65d02a7088b7aa4a",
        "type": "global-config",
        "env": []
    },
    {
        "id": "broker_nanopi_venus",
        "type": "mqtt-broker",
        "name": "NanoPi 192.168.1.120:1883",
        "broker": "192.168.1.120",
        "port": "1883",
        "clientid": "nodered-venus-validation",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": ""
    },
    {
        "id": "28b1f2aa896614e8",
        "type": "mqtt-broker",
        "name": "Pi5 MQTT",
        "broker": "dalybms-mosquitto",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "pi5_mqtt_broker_ss",
        "type": "mqtt-broker",
        "name": "Pi5 MQTT",
        "broker": "dalybms-mosquitto",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "tasmota-broker",
        "type": "mqtt-broker",
        "name": "Mosquitto Pi5",
        "broker": "192.168.1.141",
        "port": "1883",
        "clientid": "nodered-tasmota-sy2",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": ""
    },
    {
        "id": "02d17751f9dd4c7e",
        "type": "inject",
        "z": "f9c19fc3b4cd942b",
        "name": "Check every 2min",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "120",
        "crontab": "",
        "once": true,
        "onceDelay": "0.1",
        "topic": "R/c0619ab9929a/vebus/275/Ac/State/IgnoreAcIn1",
        "payload": "",
        "payloadType": "str",
        "x": 150,
        "y": 40,
        "wires": [
            [
                "mqtt-out-venus"
            ]
        ]
    },
    {
        "id": "mqtt-in-acinput",
        "type": "mqtt in",
        "z": "f9c19fc3b4cd942b",
        "name": "AC Input Ignored?",
        "topic": "N/c0619ab9929a/vebus/275/Ac/State/IgnoreAcIn1",
        "qos": "0",
        "datatype": "json",
        "broker": "pi5_mqtt_broker_fip",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 120,
        "wires": [
            [
                "fn-extract-acinput",
                "618fb92f7fc92e8e"
            ]
        ]
    },
    {
        "id": "fn-extract-acinput",
        "type": "function",
        "z": "f9c19fc3b4cd942b",
        "name": "Extract .value",
        "func": "var v = msg.payload;\nif (v && v.value !== undefined) {\n    msg.payload = v.value;\n    const label = v.value === 1 ? 'AC ignoré (off-grid)' : 'AC actif (grid)';\n    node.status({fill: v.value === 1 ? 'green' : 'red', shape: 'dot', text: label});\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 120,
        "wires": [
            [
                "2afae9caddde3f98"
            ]
        ]
    },
    {
        "id": "2afae9caddde3f98",
        "type": "switch",
        "z": "f9c19fc3b4cd942b",
        "name": "Check AC Input",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 150,
        "y": 200,
        "wires": [
            [
                "4906e558ab027eac",
                "dd3accdb04372f4a"
            ],
            [
                "34c82a81db87ae3f",
                "6bd2a8ad86ff0f25",
                "fe721c921d8591e0"
            ]
        ]
    },
    {
        "id": "4906e558ab027eac",
        "type": "change",
        "z": "f9c19fc3b4cd942b",
        "name": "Set 70A",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "70",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 180,
        "wires": [
            [
                "dca68027e4d330f7"
            ]
        ]
    },
    {
        "id": "dd3accdb04372f4a",
        "type": "change",
        "z": "f9c19fc3b4cd942b",
        "name": "PowerAssist ON",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "1",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 180,
        "y": 280,
        "wires": [
            [
                "fn-wrap-powerassist"
            ]
        ]
    },
    {
        "id": "34c82a81db87ae3f",
        "type": "function",
        "z": "f9c19fc3b4cd942b",
        "name": "Set 0A or 4A based on PV excess",
        "func": "let pvExcess = flow.get('pvExcess') || false;\nlet current = pvExcess ? 4 : 0;\nmsg.payload = current;\nnode.status({fill:\"blue\",shape:\"dot\",text:`Set ${current}A (PV excess: ${pvExcess})`});\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 260,
        "wires": [
            [
                "dca68027e4d330f7"
            ]
        ]
    },
    {
        "id": "6bd2a8ad86ff0f25",
        "type": "change",
        "z": "f9c19fc3b4cd942b",
        "name": "PowerAssist OFF",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 190,
        "y": 340,
        "wires": [
            [
                "fn-wrap-powerassist"
            ]
        ]
    },
    {
        "id": "fe721c921d8591e0",
        "type": "change",
        "z": "f9c19fc3b4cd942b",
        "name": "Set Feed-in 0W",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 180,
        "y": 400,
        "wires": [
            [
                "fn-wrap-feedin"
            ]
        ]
    },
    {
        "id": "dca68027e4d330f7",
        "type": "function",
        "z": "f9c19fc3b4cd942b",
        "name": "Send only if changed",
        "func": "let lastValue = context.get('lastChargeCurrent') || null;\nlet newValue = msg.payload;\nif (lastValue !== newValue) {\n    context.set('lastChargeCurrent', newValue);\n    node.status({fill:\"green\",shape:\"dot\",text:`Changed to ${newValue}A`});\n    return msg;\n} else {\n    node.status({fill:\"grey\",shape:\"ring\",text:`Unchanged (${newValue}A)`});\n    return null;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 200,
        "wires": [
            [
                "fn-wrap-maxcharge",
                "f956a0e409f2744d"
            ]
        ]
    },
    {
        "id": "fn-wrap-maxcharge",
        "type": "function",
        "z": "f9c19fc3b4cd942b",
        "name": "→ W/ MaxChargeCurrent",
        "func": "msg.topic = 'W/c0619ab9929a/vebus/275/Dc/0/MaxChargeCurrent';\nmsg.payload = {value: msg.payload};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 830,
        "y": 200,
        "wires": [
            [
                "mqtt-out-venus"
            ]
        ]
    },
    {
        "id": "fn-wrap-powerassist",
        "type": "function",
        "z": "f9c19fc3b4cd942b",
        "name": "→ W/ PowerAssist",
        "func": "msg.topic = 'W/c0619ab9929a/vebus/275/Settings/PowerAssistEnabled';\nmsg.payload = {value: msg.payload};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 310,
        "wires": [
            [
                "mqtt-out-venus"
            ]
        ]
    },
    {
        "id": "fn-wrap-feedin",
        "type": "function",
        "z": "f9c19fc3b4cd942b",
        "name": "→ W/ MaxFeedInPower",
        "func": "msg.topic = 'W/c0619ab9929a/settings/0/Settings/CGwacs/MaxFeedInPower';\nmsg.payload = {value: msg.payload};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 400,
        "wires": [
            [
                "mqtt-out-venus"
            ]
        ]
    },
    {
        "id": "mqtt-out-venus",
        "type": "mqtt out",
        "z": "f9c19fc3b4cd942b",
        "name": "→ Venus MQTT",
        "topic": "",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "broker": "pi5_mqtt_broker_fip",
        "x": 1050,
        "y": 300,
        "wires": []
    },
    {
        "id": "f956a0e409f2744d",
        "type": "debug",
        "z": "f9c19fc3b4cd942b",
        "name": "Value sent",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 140,
        "wires": []
    },
    {
        "id": "618fb92f7fc92e8e",
        "type": "debug",
        "z": "f9c19fc3b4cd942b",
        "name": "AC Input raw",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 80,
        "wires": []
    },
    {
        "id": "fded37fac7104bc0",
        "type": "inject",
        "z": "f9c19fc3b4cd942b",
        "name": "Manual: Set 0A",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 680,
        "y": 340,
        "wires": [
            [
                "fn-wrap-maxcharge"
            ]
        ]
    },
    {
        "id": "a5f745b99cea5bba",
        "type": "inject",
        "z": "f9c19fc3b4cd942b",
        "name": "Manual: Set 70A",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "70",
        "payloadType": "num",
        "x": 680,
        "y": 400,
        "wires": [
            [
                "fn-wrap-maxcharge"
            ]
        ]
    },
    {
        "id": "mqtt-in-pvpower",
        "type": "mqtt in",
        "z": "f9c19fc3b4cd942b",
        "name": "PV AC Output Power",
        "topic": "N/c0619ab9929a/system/0/Ac/PvOnOutput/L1/Power",
        "qos": "0",
        "datatype": "json",
        "broker": "pi5_mqtt_broker_fip",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 220,
        "y": 480,
        "wires": [
            [
                "fn-extract-pvpower"
            ]
        ]
    },
    {
        "id": "fn-extract-pvpower",
        "type": "function",
        "z": "f9c19fc3b4cd942b",
        "name": "Extract PV power",
        "func": "var v = msg.payload;\nif (v && v.value !== undefined) {\n    msg.payload = v.value;\n    msg.path = '/Ac/PvOnOutput/L1/Power';\n    node.status({fill: 'blue', shape: 'dot', text: v.value + ' W'});\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 480,
        "wires": [
            [
                "37fd5c5a52a45217"
            ]
        ]
    },
    {
        "id": "mqtt-in-consumption",
        "type": "mqtt in",
        "z": "f9c19fc3b4cd942b",
        "name": "Consumption on Output",
        "topic": "N/c0619ab9929a/system/0/Ac/ConsumptionOnOutput/L1/Power",
        "qos": "0",
        "datatype": "json",
        "broker": "pi5_mqtt_broker_fip",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 220,
        "y": 620,
        "wires": [
            [
                "fn-extract-consumption"
            ]
        ]
    },
    {
        "id": "fn-extract-consumption",
        "type": "function",
        "z": "f9c19fc3b4cd942b",
        "name": "Extract consumption",
        "func": "var v = msg.payload;\nif (v && v.value !== undefined) {\n    msg.payload = v.value;\n    msg.path = '/Ac/ConsumptionOnOutput/L1/Power';\n    node.status({fill: 'blue', shape: 'dot', text: v.value + ' W'});\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 620,
        "wires": [
            [
                "37fd5c5a52a45217"
            ]
        ]
    },
    {
        "id": "37fd5c5a52a45217",
        "type": "function",
        "z": "f9c19fc3b4cd942b",
        "name": "Calculate PV excess",
        "func": "let pvPower = flow.get('pvPower') || 0;\nlet consumption = flow.get('consumption') || 0;\n\nif (msg.path === '/Ac/PvOnOutput/L1/Power') {\n    pvPower = msg.payload || 0;\n    flow.set('pvPower', pvPower);\n} else if (msg.path === '/Ac/ConsumptionOnOutput/L1/Power') {\n    consumption = msg.payload || 0;\n    flow.set('consumption', consumption);\n}\n\nlet excess = pvPower - consumption;\nlet pvExcess = excess > 50;\nflow.set('pvExcess', pvExcess);\n\nnode.status({\n    fill: pvExcess ? 'green' : 'grey',\n    shape: 'dot',\n    text: `PV: ${pvPower}W | Cons: ${consumption}W | Excess: ${excess}W | Flag: ${pvExcess}`\n});\n\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "475fcec1d46d1554",
        "type": "inject",
        "z": "f9c19fc3b4cd942b",
        "name": "Set AcExportLimit 0",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 270,
        "y": 700,
        "wires": [
            [
                "fn-wrap-acexport"
            ]
        ]
    },
    {
        "id": "fn-wrap-acexport",
        "type": "function",
        "z": "f9c19fc3b4cd942b",
        "name": "→ W/ AcExportLimit",
        "func": "msg.topic = 'W/c0619ab9929a/settings/0/Settings/CGwacs/AcExportLimit';\nmsg.payload = {value: msg.payload};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 700,
        "wires": [
            [
                "mqtt-out-venus"
            ]
        ]
    },
    {
        "id": "c6153ca324cb499a",
        "type": "comment",
        "z": "f9c19fc3b4cd942b",
        "name": "Logique: Grid connecté + excédent PV>50W → 4A | Grid connecté + pas excédent → 0A | Grid déconnecté → 70A",
        "info": "Venus MQTT bridge: Pi5 Mosquitto ↔ NanoPi 192.168.1.120\nN/ = données Venus (in), W/ = commandes Venus (out)\nPortal ID: c0619ab9929a | VEBus instance: 275",
        "x": 660,
        "y": 620,
        "wires": []
    },
    {
        "id": "9ab315f950ad97af",
        "type": "function",
        "z": "66a9fe8bcf4c06a4",
        "name": "Stocker Fréquence",
        "func": "const freq = msg.payload.value !== undefined ? msg.payload.value : msg.payload;\nflow.set('frequency', freq);\nnode.status({fill:\"blue\",shape:\"dot\",text:`${freq} Hz`});\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 150,
        "y": 240,
        "wires": [
            [
                "974ddf12c7af6ef1"
            ]
        ]
    },
    {
        "id": "359031c7637e26a8",
        "type": "function",
        "z": "66a9fe8bcf4c06a4",
        "name": "Stocker État Grid",
        "func": "const connected = msg.payload.value !== undefined ? msg.payload.value : msg.payload;\nflow.set('grid_connected', connected === 1);\n\nif (connected === 1) {\n    node.status({fill:\"green\",shape:\"dot\",text:\"Grid Connecté\"});\n} else {\n    node.status({fill:\"orange\",shape:\"dot\",text:\"Grid Déconnecté\"});\n}\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 150,
        "y": 100,
        "wires": [
            [
                "974ddf12c7af6ef1"
            ]
        ]
    },
    {
        "id": "974ddf12c7af6ef1",
        "type": "function",
        "z": "66a9fe8bcf4c06a4",
        "name": "Logique Anti-Oscillation 52Hz 50.3Hz",
        "func": "const freq = flow.get('frequency') || 50.0;\nconst gridConnected = flow.get('grid_connected');\n\n// ⚠️ CONDITION CRITIQUE : Ne couper QUE si déconnecté du grid\nif (gridConnected === true) {\n    // Grid connecté → Forcer ON\n    let currentState = context.get('shelly_state') || 'ON';\n    if (currentState !== 'ON') {\n        context.set('shelly_state', 'ON');\n        context.set('last_off_time', null); // Reset timer OFF\n        msg.payload = { action: 'ON', freq: freq, reason: 'Grid connecté → DEYE ON forcé' };\n        node.status({fill:\"green\",shape:\"dot\",text:`🟢 ON (Grid connecté)`});\n        return msg;\n    }\n    node.status({fill:\"green\",shape:\"ring\",text:`ON (Grid - ${freq}Hz)`});\n    return null;\n}\n\n// === MODE OFF-GRID : Gestion avec protection anti-oscillation ===\n\n// PARAMÈTRES CRITIQUES\nconst FREQ_HIGH = 52.0;       // Seuil haut pour couper (Hz)\nconst FREQ_LOW = 50.3;        // Seuil bas pour rallumer (Hz) - LARGE HYSTÉRÉSIS\nconst DELAY_OFF = 15;         // Délai avant coupure (secondes)\nconst DELAY_ON = 45;          // Délai avant rallumage (secondes)\nconst MIN_OFF_DURATION = 120; // Minimum 2 minutes OFF (secondes)\n\n// État actuel\nlet currentState = context.get('shelly_state') || 'ON';\nlet timerHigh = context.get('timer_high') || null;\nlet timerLow = context.get('timer_low') || null;\nlet lastOffTime = context.get('last_off_time') || null;\n\n// === PROTECTION : Vérifier durée minimum OFF ===\nif (currentState === 'OFF' && lastOffTime !== null) {\n    const timeSinceOff = (Date.now() - lastOffTime) / 1000;\n    const remainingTime = MIN_OFF_DURATION - timeSinceOff;\n    \n    if (remainingTime > 0) {\n        // Encore dans la période minimum OFF → Bloquer tout rallumage\n        context.set('timer_low', null); // Reset timer rallumage\n        node.status({\n            fill:\"red\",\n            shape:\"ring\",\n            text:`🔴 OFF verrouillé ${remainingTime.toFixed(0)}s (${freq}Hz)`\n        });\n        return null;\n    }\n}\n\n// === Machine à états avec hystérésis ===\n\nif (freq >= FREQ_HIGH) {\n    // Fréquence haute détectée → Demande de coupure\n    if (!timerHigh) {\n        timerHigh = Date.now();\n        context.set('timer_high', timerHigh);\n    }\n    \n    const elapsedHigh = (Date.now() - timerHigh) / 1000;\n    \n    if (elapsedHigh >= DELAY_OFF && currentState === 'ON') {\n        // Condition remplie → Couper DEYE\n        currentState = 'OFF';\n        const now = Date.now();\n        context.set('shelly_state', 'OFF');\n        context.set('last_off_time', now); // Enregistrer l'heure de coupure\n        context.set('timer_low', null);\n        \n        msg.payload = { \n            action: 'OFF', \n            freq: freq, \n            reason: `OFF-GRID: Freq ${freq}Hz > ${FREQ_HIGH}Hz pendant ${DELAY_OFF}s` \n        };\n        node.status({fill:\"red\",shape:\"dot\",text:`🔴 OFF (${freq}Hz)`});\n        return msg;\n        \n    } else if (currentState === 'OFF') {\n        const timeSinceOff = lastOffTime ? (Date.now() - lastOffTime) / 1000 : 0;\n        node.status({\n            fill:\"red\",\n            shape:\"ring\",\n            text:`OFF maintenu ${timeSinceOff.toFixed(0)}s (${freq}Hz)`\n        });\n    } else {\n        node.status({\n            fill:\"yellow\",\n            shape:\"ring\",\n            text:`${freq}Hz - Attente ${elapsedHigh.toFixed(0)}/${DELAY_OFF}s`\n        });\n    }\n    \n    context.set('timer_low', null);\n    \n} else if (freq <= FREQ_LOW) {\n    // Fréquence basse détectée → Demande de rallumage\n    \n    // Vérifier si on peut rallumer (durée minimum OFF écoulée)\n    if (currentState === 'OFF' && lastOffTime !== null) {\n        const timeSinceOff = (Date.now() - lastOffTime) / 1000;\n        if (timeSinceOff < MIN_OFF_DURATION) {\n            // Pas encore 2 minutes OFF → Bloquer\n            node.status({\n                fill:\"red\",\n                shape:\"ring\",\n                text:`🔒 OFF verrouillé ${(MIN_OFF_DURATION - timeSinceOff).toFixed(0)}s`\n            });\n            return null;\n        }\n    }\n    \n    // Durée minimum OK → Démarrer timer rallumage\n    if (!timerLow) {\n        timerLow = Date.now();\n        context.set('timer_low', timerLow);\n    }\n    \n    const elapsedLow = (Date.now() - timerLow) / 1000;\n    \n    if (elapsedLow >= DELAY_ON && currentState === 'OFF') {\n        // Condition remplie → Rallumer DEYE\n        currentState = 'ON';\n        context.set('shelly_state', 'ON');\n        context.set('last_off_time', null); // Reset compteur OFF\n        context.set('timer_high', null);\n        \n        msg.payload = { \n            action: 'ON', \n            freq: freq, \n            reason: `OFF-GRID: Freq ${freq}Hz < ${FREQ_LOW}Hz pendant ${DELAY_ON}s (après 2min OFF)` \n        };\n        node.status({fill:\"green\",shape:\"dot\",text:`🟢 ON (${freq}Hz)`});\n        return msg;\n        \n    } else if (currentState === 'ON') {\n        node.status({fill:\"green\",shape:\"ring\",text:`ON stable (${freq}Hz)`});\n    } else {\n        node.status({\n            fill:\"yellow\",\n            shape:\"ring\",\n            text:`${freq}Hz - Attente ${elapsedLow.toFixed(0)}/${DELAY_ON}s`\n        });\n    }\n    \n    context.set('timer_high', null);\n    \n} else {\n    // Zone d'hystérésis (entre FREQ_LOW et FREQ_HIGH)\n    context.set('timer_high', null);\n    context.set('timer_low', null);\n    \n    if (currentState === 'ON') {\n        node.status({fill:\"green\",shape:\"ring\",text:`ON stable (${freq}Hz)`});\n    } else {\n        const timeSinceOff = lastOffTime ? (Date.now() - lastOffTime) / 1000 : 0;\n        node.status({\n            fill:\"red\",\n            shape:\"ring\",\n            text:`OFF stable ${timeSinceOff.toFixed(0)}s (${freq}Hz)`\n        });\n    }\n}\n\nreturn null;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 210,
        "y": 160,
        "wires": [
            [
                "6333a87030ca5780",
                "242d976f58c98ec1"
            ]
        ]
    },
    {
        "id": "6333a87030ca5780",
        "type": "switch",
        "z": "66a9fe8bcf4c06a4",
        "name": "Routage",
        "property": "payload.action",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "OFF",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "ON",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 480,
        "y": 160,
        "wires": [
            [
                "ec286aa6516351c2"
            ],
            [
                "4176dc0bd6b19937"
            ]
        ]
    },
    {
        "id": "ec286aa6516351c2",
        "type": "function",
        "z": "66a9fe8bcf4c06a4",
        "name": "Switch 0 OFF",
        "func": "msg.payload = JSON.stringify({\n    \"id\": 2,\n    \"src\": \"nodered\",\n    \"method\": \"Switch.Set\",\n    \"params\": {\n        \"id\": 0,\n        \"on\": false\n    }\n});\nmsg.topic = \"shellypro2pm-ec62608840a4/rpc\";\nnode.status({fill:\"red\",shape:\"dot\",text:\"Commande OFF\"});\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 100,
        "wires": [
            [
                "b119b9e8f44eb13c"
            ]
        ]
    },
    {
        "id": "4176dc0bd6b19937",
        "type": "function",
        "z": "66a9fe8bcf4c06a4",
        "name": "Switch 0 ON",
        "func": "msg.payload = JSON.stringify({\n    \"id\": 1,\n    \"src\": \"nodered\",\n    \"method\": \"Switch.Set\",\n    \"params\": {\n        \"id\": 0,\n        \"on\": true\n    }\n});\nmsg.topic = \"shellypro2pm-ec62608840a4/rpc\";\nnode.status({fill:\"green\",shape:\"dot\",text:\"Commande ON\"});\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 220,
        "wires": [
            [
                "b119b9e8f44eb13c"
            ]
        ]
    },
    {
        "id": "b119b9e8f44eb13c",
        "type": "mqtt out",
        "z": "66a9fe8bcf4c06a4",
        "name": "Shelly Command DEYE",
        "topic": "",
        "qos": "0",
        "retain": "false",
        "broker": "victron_mqtt",
        "x": 730,
        "y": 160,
        "wires": []
    },
    {
        "id": "242d976f58c98ec1",
        "type": "debug",
        "z": "66a9fe8bcf4c06a4",
        "name": "Debug Décision",
        "active": true,
        "tosidebar": true,
        "console": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 400,
        "y": 100,
        "wires": []
    },
    {
        "id": "b8d5d7042431f1f0",
        "type": "debug",
        "z": "66a9fe8bcf4c06a4",
        "name": "debug 7",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 360,
        "wires": []
    },
    {
        "id": "mqtt-in-freq",
        "type": "mqtt in",
        "z": "66a9fe8bcf4c06a4",
        "name": "Fréquence AC Out",
        "topic": "N/c0619ab9929a/vebus/275/Ac/Out/L1/F",
        "qos": "0",
        "datatype": "json",
        "broker": "victron_mqtt",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 210,
        "y": 300,
        "wires": [
            [
                "fn-extract-freq"
            ]
        ]
    },
    {
        "id": "fn-extract-freq",
        "type": "function",
        "z": "66a9fe8bcf4c06a4",
        "name": "Extract freq value",
        "func": "var v = msg.payload;\nif (v && v.value !== undefined) {\n    node.status({fill:'blue', shape:'dot', text: v.value + ' Hz'});\n    msg.payload = {value: v.value};\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 300,
        "wires": [
            [
                "9ab315f950ad97af"
            ]
        ]
    },
    {
        "id": "mqtt-in-grid",
        "type": "mqtt in",
        "z": "66a9fe8bcf4c06a4",
        "name": "Grid Connected",
        "topic": "N/c0619ab9929a/vebus/275/Ac/ActiveIn/Connected",
        "qos": "0",
        "datatype": "json",
        "broker": "victron_mqtt",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 250,
        "y": 40,
        "wires": [
            [
                "fn-extract-grid"
            ]
        ]
    },
    {
        "id": "fn-extract-grid",
        "type": "function",
        "z": "66a9fe8bcf4c06a4",
        "name": "Extract grid value",
        "func": "var v = msg.payload;\nif (v && v.value !== undefined) {\n    const label = v.value === 1 ? 'Connecté' : 'Déconnecté';\n    node.status({fill: v.value === 1 ? 'green' : 'orange', shape:'dot', text: label});\n    msg.payload = {value: v.value};\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 40,
        "wires": [
            [
                "359031c7637e26a8"
            ]
        ]
    },
    {
        "id": "mqtt-in-ignoreac",
        "type": "mqtt in",
        "z": "66a9fe8bcf4c06a4",
        "name": "IgnoreAcIn1",
        "topic": "N/c0619ab9929a/vebus/275/Ac/State/IgnoreAcIn1",
        "qos": "0",
        "datatype": "json",
        "broker": "victron_mqtt",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 210,
        "y": 360,
        "wires": [
            [
                "b8d5d7042431f1f0"
            ]
        ]
    },
    {
        "id": "70b864885454c6ce",
        "type": "comment",
        "z": "d8d4c21c04320036",
        "name": "shellypro2pm-ec62608840a4",
        "info": "\nmsg.payload : Object\nobject\nble: object\ncloud: object\neth: object\ninput0: object\nid: 0\nstate: false\ninput1: object\nid: 1\nstate: false\nmqtt: object\nconnected: true\n\nswitch0: object\nid: 0\nsource: \"HTTP\"\noutput: false\napower: 0\nvoltage: 1.6\ncurrent: 0\npf: 0\naenergy: object\ntotal: 0\nby_minute: array[3]\n0: 0\n1: 0\n2: 0\nminute_ts: 1768292313\ntemperature: object\ntC: 14.5\ntF: 58.2",
        "x": 320,
        "y": 40,
        "wires": []
    },
    {
        "id": "c49c2d720e739e23",
        "type": "comment",
        "z": "d8d4c21c04320036",
        "name": "192.168.1.136",
        "info": "",
        "x": 110,
        "y": 40,
        "wires": []
    },
    {
        "id": "7b93a5d02bd2f9a7",
        "type": "inject",
        "z": "d8d4c21c04320036",
        "name": "Switch 0 ON",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "x": 130,
        "y": 80,
        "wires": [
            [
                "4fb3cadf8fd3739a"
            ]
        ]
    },
    {
        "id": "d1d0bfb2d431cd66",
        "type": "inject",
        "z": "d8d4c21c04320036",
        "name": "Switch 0 OFF",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "x": 130,
        "y": 120,
        "wires": [
            [
                "5fe37544023d2e79"
            ]
        ]
    },
    {
        "id": "c44526995f594193",
        "type": "inject",
        "z": "d8d4c21c04320036",
        "name": "Switch 1 ON",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "x": 130,
        "y": 200,
        "wires": [
            [
                "e1edddaeabd51b9d"
            ]
        ]
    },
    {
        "id": "7d1f0a4ae5c6c7cd",
        "type": "inject",
        "z": "d8d4c21c04320036",
        "name": "Switch 1 OFF",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "x": 130,
        "y": 240,
        "wires": [
            [
                "d20af497b7974f4e"
            ]
        ]
    },
    {
        "id": "4fb3cadf8fd3739a",
        "type": "function",
        "z": "d8d4c21c04320036",
        "name": "Switch 0 ON",
        "func": "msg.payload = JSON.stringify({\n    \"id\": 1,\n    \"src\": \"nodered\",\n    \"method\": \"Switch.Set\",\n    \"params\": {\n        \"id\": 0,\n        \"on\": true\n    }\n});\nmsg.topic = \"shellypro2pm-ec62608840a4/rpc\";\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 80,
        "wires": [
            [
                "bbfcfd3ab42f18ed"
            ]
        ]
    },
    {
        "id": "5fe37544023d2e79",
        "type": "function",
        "z": "d8d4c21c04320036",
        "name": "Switch 0 OFF",
        "func": "msg.payload = JSON.stringify({\n    \"id\": 2,\n    \"src\": \"nodered\",\n    \"method\": \"Switch.Set\",\n    \"params\": {\n        \"id\": 0,\n        \"on\": false\n    }\n});\nmsg.topic = \"shellypro2pm-ec62608840a4/rpc\";\nreturn msg;",
        "outputs": 1,
        "x": 330,
        "y": 120,
        "wires": [
            [
                "bbfcfd3ab42f18ed"
            ]
        ]
    },
    {
        "id": "e1edddaeabd51b9d",
        "type": "function",
        "z": "d8d4c21c04320036",
        "name": "Switch 1 ON",
        "func": "msg.payload = JSON.stringify({\n    \"id\": 3,\n    \"src\": \"nodered\",\n    \"method\": \"Switch.Set\",\n    \"params\": {\n        \"id\": 1,\n        \"on\": true\n    }\n});\nmsg.topic = \"shellypro2pm-ec62608840a4/rpc\";\nreturn msg;",
        "outputs": 1,
        "x": 330,
        "y": 200,
        "wires": [
            [
                "bbfcfd3ab42f18ed"
            ]
        ]
    },
    {
        "id": "d20af497b7974f4e",
        "type": "function",
        "z": "d8d4c21c04320036",
        "name": "Switch 1 OFF",
        "func": "msg.payload = JSON.stringify({\n    \"id\": 4,\n    \"src\": \"nodered\",\n    \"method\": \"Switch.Set\",\n    \"params\": {\n        \"id\": 1,\n        \"on\": false\n    }\n});\nmsg.topic = \"shellypro2pm-ec62608840a4/rpc\";\nreturn msg;",
        "outputs": 1,
        "x": 330,
        "y": 240,
        "wires": [
            [
                "bbfcfd3ab42f18ed"
            ]
        ]
    },
    {
        "id": "bbfcfd3ab42f18ed",
        "type": "mqtt out",
        "z": "d8d4c21c04320036",
        "name": "Shelly Command",
        "topic": "",
        "qos": "0",
        "retain": "false",
        "broker": "victron_mqtt",
        "x": 560,
        "y": 160,
        "wires": []
    },
    {
        "id": "cbf444be246d4807",
        "type": "mqtt in",
        "z": "d8d4c21c04320036",
        "name": "Shelly Events",
        "topic": "shellypro2pm-ec62608840a4/events/rpc",
        "qos": "0",
        "datatype": "json",
        "broker": "victron_mqtt",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 90,
        "y": 320,
        "wires": [
            [
                "f0b781ea7efd3909"
            ]
        ]
    },
    {
        "id": "f0b781ea7efd3909",
        "type": "function",
        "z": "d8d4c21c04320036",
        "name": "Parse Events",
        "func": "const data = msg.payload;\n\nif (data.method === \"NotifyStatus\" && data.params) {\n    const msgs = [];\n    \n    // Switch 0\n    if (data.params[\"switch:0\"]) {\n        const sw0 = data.params[\"switch:0\"];\n        msgs[0] = {\n            payload: {\n                switch: 0,\n                output: sw0.output,\n                apower: sw0.apower || 0,\n                voltage: sw0.voltage || 0,\n                current: sw0.current || 0,\n                temperature: sw0.temperature ? sw0.temperature.tC : null\n            },\n            topic: \"switch0\"\n        };\n    }\n    \n    // Switch 1\n    if (data.params[\"switch:1\"]) {\n        const sw1 = data.params[\"switch:1\"];\n        msgs[1] = {\n            payload: {\n                switch: 1,\n                output: sw1.output,\n                apower: sw1.apower || 0,\n                voltage: sw1.voltage || 0,\n                current: sw1.current || 0,\n                temperature: sw1.temperature ? sw1.temperature.tC : null\n            },\n            topic: \"switch1\"\n        };\n    }\n    \n    return msgs;\n}\n\nreturn null;",
        "outputs": 2,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 250,
        "y": 320,
        "wires": [
            [
                "9179ad9810a9171d"
            ],
            [
                "9496bc7b3fe7f09e"
            ]
        ]
    },
    {
        "id": "9179ad9810a9171d",
        "type": "function",
        "z": "d8d4c21c04320036",
        "name": "Format Switch 0",
        "func": "const p = msg.payload;\nmsg.payload = `Switch 0: ${p.output ? 'ON' : 'OFF'} | ${p.apower}W | ${p.voltage}V | ${p.current}A | ${p.temperature}°C`;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 280,
        "wires": [
            [
                "5c5e202a986ec3fc"
            ]
        ]
    },
    {
        "id": "9496bc7b3fe7f09e",
        "type": "function",
        "z": "d8d4c21c04320036",
        "name": "Format Switch 1",
        "func": "const p = msg.payload;\nmsg.payload = `Switch 1: ${p.output ? 'ON' : 'OFF'} | ${p.apower}W | ${p.voltage}V | ${p.current}A | ${p.temperature}°C`;\nreturn msg;",
        "outputs": 1,
        "x": 440,
        "y": 340,
        "wires": [
            [
                "0e18930e5b285f4f"
            ]
        ]
    },
    {
        "id": "5c5e202a986ec3fc",
        "type": "debug",
        "z": "d8d4c21c04320036",
        "name": "Switch 0 Status",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 620,
        "y": 280,
        "wires": []
    },
    {
        "id": "0e18930e5b285f4f",
        "type": "debug",
        "z": "d8d4c21c04320036",
        "name": "Switch 1 Status",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 620,
        "y": 340,
        "wires": []
    },
    {
        "id": "a95b2f324f69eaef",
        "type": "mqtt in",
        "z": "d8d4c21c04320036",
        "name": "Shelly Online",
        "topic": "shellypro2pm-ec62608840a4/online",
        "qos": "0",
        "datatype": "auto",
        "broker": "victron_mqtt",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 530,
        "y": 80,
        "wires": [
            [
                "0783982e81ca40b8"
            ]
        ]
    },
    {
        "id": "0783982e81ca40b8",
        "type": "debug",
        "z": "d8d4c21c04320036",
        "name": "Connection",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 690,
        "y": 80,
        "wires": []
    },
    {
        "id": "9b31f434ac3f81db",
        "type": "debug",
        "z": "d8d4c21c04320036",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 460,
        "wires": []
    },
    {
        "id": "cc4999927c952396",
        "type": "function",
        "z": "d8d4c21c04320036",
        "name": "0 on",
        "func": "msg.payload = {\n    method: \"Switch.Set\",\n    parameters : {\n        id : 0,\n        on : true,\n        toggle_after : 2 // optional flip back time in seconds\n    }\n};\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 250,
        "y": 460,
        "wires": [
            [
                "5face44a480f6bcf"
            ]
        ]
    },
    {
        "id": "bc97c7f511bf9c4a",
        "type": "function",
        "z": "d8d4c21c04320036",
        "name": "0 off",
        "func": "msg.payload = {\n    method: \"Switch.Set\",\n    parameters : {\n        id : 0,\n        on : false,\n        toggle_after : 2 // optional flip back time in seconds\n    }\n};\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 250,
        "y": 520,
        "wires": [
            [
                "5face44a480f6bcf"
            ]
        ]
    },
    {
        "id": "00317ba0d53b0c9c",
        "type": "inject",
        "z": "d8d4c21c04320036",
        "name": "Turn On",
        "props": [
            {
                "p": "payload",
                "v": "",
                "vt": "date"
            },
            {
                "p": "topic",
                "v": "",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 124.99413108825684,
        "y": 460.193359375,
        "wires": [
            [
                "cc4999927c952396"
            ]
        ]
    },
    {
        "id": "46f23188936decde",
        "type": "inject",
        "z": "d8d4c21c04320036",
        "name": "Turn Off",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 520,
        "wires": [
            [
                "bc97c7f511bf9c4a"
            ]
        ]
    },
    {
        "id": "e7f18f87118451bf",
        "type": "inject",
        "z": "d8d4c21c04320036",
        "name": "Get Status",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 400,
        "wires": [
            [
                "5face44a480f6bcf"
            ]
        ]
    },
    {
        "id": "7501cd2438889cac",
        "type": "function",
        "z": "d8d4c21c04320036",
        "name": "0 toggle",
        "func": "msg.payload = {\n    method: \"Switch.Toggle\",\n    parameters : {\n        id : 0,\n    }\n};\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 260,
        "y": 580,
        "wires": [
            [
                "5face44a480f6bcf"
            ]
        ]
    },
    {
        "id": "8fe032a52b86bfc2",
        "type": "inject",
        "z": "d8d4c21c04320036",
        "name": "Toggle",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 580,
        "wires": [
            [
                "7501cd2438889cac"
            ]
        ]
    },
    {
        "id": "4cf98fe3f6610eae",
        "type": "function",
        "z": "d8d4c21c04320036",
        "name": "id 0",
        "func": "msg.payload = {\n    method: \"Switch.GetConfig\",\n    parameters : {\n        id : 0,\n    }\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 250,
        "y": 640,
        "wires": [
            [
                "5face44a480f6bcf"
            ]
        ]
    },
    {
        "id": "d38cdac81f51b15a",
        "type": "inject",
        "z": "d8d4c21c04320036",
        "name": "Get Config",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 640,
        "wires": [
            [
                "4cf98fe3f6610eae"
            ]
        ]
    },
    {
        "id": "904db45f51b5472d",
        "type": "function",
        "z": "d8d4c21c04320036",
        "name": "id 0",
        "func": "msg.payload = {\n    method: \"Switch.SetConfig\",\n    parameters : {\n        id : 0,\n        config : {\n            // name : \"switch\",\n            // in_mode : \"follow\",\n            // initial_state : \"restore_last\",\n            auto_on : true,\n            // auto_on_delay : 60.00,\n            // auto_off : false,\n            // auto_off_delay : 60.00,\n            // power_limit : 3500\n        }\n    }\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 250,
        "y": 680,
        "wires": [
            [
                "5face44a480f6bcf"
            ]
        ]
    },
    {
        "id": "e4c327a4832c2206",
        "type": "inject",
        "z": "d8d4c21c04320036",
        "name": "Set Config",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 680,
        "wires": [
            [
                "904db45f51b5472d"
            ]
        ]
    },
    {
        "id": "5face44a480f6bcf",
        "type": "shelly-gen2",
        "z": "d8d4c21c04320036",
        "hostname": "192.168.1.136",
        "description": "",
        "mode": "polling",
        "verbose": false,
        "server": "04263f2d054cc2a1",
        "uploadretryinterval": "5000",
        "pollinginterval": 5000,
        "pollstatus": false,
        "getstatusoncommand": false,
        "devicetype": "Relay",
        "devicetypemustmatchexactly": false,
        "captureblutooth": false,
        "outputs": 1,
        "x": 480,
        "y": 460,
        "wires": [
            [
                "9b31f434ac3f81db"
            ]
        ]
    },
    {
        "id": "d85c77f854599bc1",
        "type": "comment",
        "z": "a9df6ef8e6d5c24e",
        "name": "Conditions",
        "info": "WaterHeater doit être en mode VACATION pour une des conditions suivantes\nSi AC in est connecté: Read AC input = 0\nOu\nSi SOC < 85%\nOu\nSi Batterie décharge en cours: smartshunt <= 0\nOu\nSi Total de production solaire inferieure a 2500W \n\nSinon WaterHeater doit être en mode Heat_PUMP\n\nau demmarage il doit etre en mode VACATION",
        "x": 100,
        "y": 60,
        "wires": []
    },
    {
        "id": "1b4c273e1b2387fe",
        "type": "inject",
        "z": "a9df6ef8e6d5c24e",
        "name": "SET HEAT_PUMP",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "x": 150,
        "y": 120,
        "wires": [
            [
                "742fc8bdc1346534"
            ]
        ]
    },
    {
        "id": "742fc8bdc1346534",
        "type": "function",
        "z": "a9df6ef8e6d5c24e",
        "name": "HEAT_PUMP",
        "func": "msg.headers = {\n    'Authorization': 'Bearer thinqpat_975d93159fdcf31033e33a3b9c49009ae1ffbf345dfa6dcb4e2f',\n    'x-message-id': 'fNvdZ1brTn-wWKUIWGoSVw',\n    'x-country': 'FR',\n    'x-client-id': 'Santuario-123456',\n    'x-api-key': 'v6GFvkweNo7DK7yD3ylIZ9w52aKBU0eJ7wLXkSR3',\n    'Content-Type': 'application/json'\n};\n\nmsg.payload = {\n    \"waterHeaterJobMode\": {\n        \"currentJobMode\": \"HEAT_PUMP\"\n    }\n};\n\nmsg.url = 'https://api-eic.lgthinq.com/devices/918c240ab4c6e3eee70a4e9ac015c18ddd8b4f933c3d9ff813446d8f8dddf720/control';\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 120,
        "wires": [
            [
                "5a413a740b1479f3",
                "b8603b751d2427c0"
            ]
        ]
    },
    {
        "id": "5a413a740b1479f3",
        "type": "http request",
        "z": "a9df6ef8e6d5c24e",
        "name": "Post",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 610,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "b8603b751d2427c0",
        "type": "delay",
        "z": "a9df6ef8e6d5c24e",
        "name": "15s",
        "pauseType": "delay",
        "timeout": "15",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 410,
        "y": 60,
        "wires": [
            [
                "f6a2bee686009fd3"
            ]
        ]
    },
    {
        "id": "f6a2bee686009fd3",
        "type": "function",
        "z": "a9df6ef8e6d5c24e",
        "name": "Set 60 °C Jour",
        "func": "msg.headers = {\n    'Authorization': 'Bearer thinqpat_975d93159fdcf31033e33a3b9c49009ae1ffbf345dfa6dcb4e2f',\n    'x-message-id': 'fNvdZ1brTn-wWKUIWGoSVw',\n    'x-country': 'FR',\n    'x-client-id': 'Santuario-123456',\n    'x-api-key': 'v6GFvkweNo7DK7yD3ylIZ9w52aKBU0eJ7wLXkSR3',\n    'Content-Type': 'application/json'\n};\n\nmsg.payload = {\n    \"temperature\": {\n        \"targetTemperature\": 60\n    }\n};\nmsg.url = 'https://api-eic.lgthinq.com/devices/918c240ab4c6e3eee70a4e9ac015c18ddd8b4f933c3d9ff813446d8f8dddf720/control';\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 60,
        "wires": [
            [
                "44126b912830004f"
            ]
        ]
    },
    {
        "id": "44126b912830004f",
        "type": "http request",
        "z": "a9df6ef8e6d5c24e",
        "name": "Post",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 750,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "b4f5e933b5270923",
        "type": "function",
        "z": "a9df6ef8e6d5c24e",
        "name": "Détecter changement Heat Pump",
        "func": "const previousMode = flow.get('current_mode') || null;\nconst lastChangeTime = flow.get('last_change_time') || 0;\nconst currentMode = 'heat_pump';\n\nconst MIN_DELAY_MINUTES = 15;\nconst timeSinceLastChange = (Date.now() - lastChangeTime) / 1000 / 60;\n\nif (previousMode !== currentMode) {\n    if (timeSinceLastChange >= MIN_DELAY_MINUTES || previousMode === null) {\n        flow.set('current_mode', currentMode);\n        flow.set('last_change_time', Date.now());\n        node.status({fill:\"cyan\",shape:\"dot\",text:`✓ Changement: ${previousMode} → HEAT_PUMP`});\n        return msg;\n    } else {\n        node.status({\n            fill:\"orange\",\n            shape:\"ring\",\n            text:`⏳ Trop tôt (${timeSinceLastChange.toFixed(1)}/${MIN_DELAY_MINUTES} min)`\n        });\n        return null;\n    }\n}\n\nnode.status({fill:\"grey\",shape:\"ring\",text:\"➔ Déjà en HEAT_PUMP\"});\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 180,
        "wires": [
            [
                "742fc8bdc1346534"
            ]
        ]
    },
    {
        "id": "dab931ace197ea01",
        "type": "mqtt in",
        "z": "a9df6ef8e6d5c24e",
        "name": "Read AC Input Ignored",
        "topic": "N/c0619ab9929a/vebus/275/Ac/State/IgnoreAcIn1",
        "qos": "0",
        "datatype": "json",
        "broker": "pi5_mqtt_broker_wh",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 220,
        "wires": [
            [
                "8035355231263694"
            ]
        ]
    },
    {
        "id": "8035355231263694",
        "type": "function",
        "z": "a9df6ef8e6d5c24e",
        "name": "Stocker AC Input Ignored",
        "func": "const v = msg.payload.value !== undefined ? msg.payload.value : msg.payload;\nflow.set('wh_ac_ignored', v);\nnode.status({fill:'blue',shape:'dot',text:`AC ignored: ${v}`});\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 220,
        "wires": [
            [
                "12783be690eddf9a"
            ]
        ]
    },
    {
        "id": "083cba5e60036a82",
        "type": "mqtt in",
        "z": "a9df6ef8e6d5c24e",
        "name": "Battery State of Charge (%)",
        "topic": "N/c0619ab9929a/system/0/Dc/Battery/Soc",
        "qos": "0",
        "datatype": "json",
        "broker": "pi5_mqtt_broker_wh",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 280,
        "wires": [
            [
                "2ab1969a96bb62cf"
            ]
        ]
    },
    {
        "id": "2ab1969a96bb62cf",
        "type": "function",
        "z": "a9df6ef8e6d5c24e",
        "name": "Stocker SOC WH",
        "func": "const v = msg.payload.value !== undefined ? msg.payload.value : msg.payload;\nflow.set('wh_soc', v);\nnode.status({fill:'blue',shape:'dot',text:`SOC: ${v}%`});\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 280,
        "wires": [
            [
                "12783be690eddf9a"
            ]
        ]
    },
    {
        "id": "0458a76c3fa28646",
        "type": "mqtt in",
        "z": "a9df6ef8e6d5c24e",
        "name": "SmartShunt 300A | Battery current (A)",
        "topic": "N/c0619ab9929a/battery/274/Dc/0/Current",
        "qos": "0",
        "datatype": "json",
        "broker": "pi5_mqtt_broker_wh",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 340,
        "wires": [
            [
                "c779937ba8a6ce05"
            ]
        ]
    },
    {
        "id": "c779937ba8a6ce05",
        "type": "function",
        "z": "a9df6ef8e6d5c24e",
        "name": "Stocker Current WH",
        "func": "const v = msg.payload.value !== undefined ? msg.payload.value : msg.payload;\nflow.set('wh_battery_current', v);\nnode.status({fill:'blue',shape:'dot',text:`Current: ${v}A`});\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 340,
        "wires": [
            [
                "12783be690eddf9a"
            ]
        ]
    },
    {
        "id": "7d47d5b26b410280",
        "type": "mqtt in",
        "z": "a9df6ef8e6d5c24e",
        "name": "PV DC Power",
        "topic": "N/c0619ab9929a/system/0/Dc/Pv/Power",
        "qos": "0",
        "datatype": "json",
        "broker": "pi5_mqtt_broker_wh",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 400,
        "wires": [
            [
                "f3cf01b6a614f04e"
            ]
        ]
    },
    {
        "id": "f3cf01b6a614f04e",
        "type": "function",
        "z": "a9df6ef8e6d5c24e",
        "name": "Stocker PV DC",
        "func": "const v = msg.payload.value !== undefined ? msg.payload.value : msg.payload;\nflow.set('wh_pv_dc', v || 0);\nnode.status({fill:'blue',shape:'dot',text:`PV DC: ${v}W`});\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 400,
        "wires": [
            [
                "f15c25ce137fa64f"
            ]
        ]
    },
    {
        "id": "2845d37e7aa093d6",
        "type": "mqtt in",
        "z": "a9df6ef8e6d5c24e",
        "name": "PV AC Power",
        "topic": "N/c0619ab9929a/system/0/Ac/PvOnOutput/L1/Power",
        "qos": "0",
        "datatype": "json",
        "broker": "pi5_mqtt_broker_wh",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 460,
        "wires": [
            [
                "5fc106188282c05f"
            ]
        ]
    },
    {
        "id": "5fc106188282c05f",
        "type": "function",
        "z": "a9df6ef8e6d5c24e",
        "name": "Stocker PV AC",
        "func": "const v = msg.payload.value !== undefined ? msg.payload.value : msg.payload;\nflow.set('wh_pv_ac', v || 0);\nnode.status({fill:'blue',shape:'dot',text:`PV AC: ${v}W`});\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 460,
        "wires": [
            [
                "f15c25ce137fa64f"
            ]
        ]
    },
    {
        "id": "f15c25ce137fa64f",
        "type": "function",
        "z": "a9df6ef8e6d5c24e",
        "name": "Calcul Production Totale",
        "func": "const pvDC = flow.get('wh_pv_dc') || 0;\nconst pvAC = flow.get('wh_pv_ac') || 0;\nconst total = pvDC + pvAC;\nflow.set('wh_production', total);\nnode.status({fill:'green',shape:'dot',text:`Total: ${total}W (DC:${pvDC}W + AC:${pvAC}W)`});\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 420,
        "wires": [
            [
                "12783be690eddf9a"
            ]
        ]
    },
    {
        "id": "2e0a5cd48c88f3d4",
        "type": "inject",
        "z": "a9df6ef8e6d5c24e",
        "name": "Initialisation au démarrage",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "2",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 540,
        "wires": [
            [
                "539ddc272bcb1575"
            ]
        ]
    },
    {
        "id": "539ddc272bcb1575",
        "type": "function",
        "z": "a9df6ef8e6d5c24e",
        "name": "Forcer l'initialisation",
        "func": "flow.set('current_mode', null);\nflow.set('last_change_time', 0);\nflow.set('wh_ac_ignored', null);\nflow.set('wh_soc', null);\nflow.set('wh_battery_current', null);\nflow.set('wh_pv_dc', 0);\nflow.set('wh_pv_ac', 0);\nflow.set('wh_production', 0);\n\nnode.status({fill:'green',shape:'dot',text:'Initialisé'});\n\n// Forcer VACATION au démarrage\nmsg.payload = {mode: 'vacation', reasons: ['Démarrage']};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 540,
        "wires": [
            [
                "df84ff20a7f8a525"
            ]
        ]
    },
    {
        "id": "12783be690eddf9a",
        "type": "function",
        "z": "a9df6ef8e6d5c24e",
        "name": "Évaluation",
        "func": "const PRODUCTION_MIN    = 2000;  // W\nconst DEBOUNCE_MINUTES  = 5;     // délai de confirmation pour conditions instables\n\nconst acIgnored  = flow.get('wh_ac_ignored');\nconst soc        = flow.get('wh_soc');\nconst current    = flow.get('wh_battery_current');\nconst production = flow.get('wh_production') || 0;\nconst now        = Date.now();\n\n// --- Conditions immédiates (stables) ---\nconst acConnected = (acIgnored !== null && acIgnored !== undefined && acIgnored === 0);\nconst socLow      = (soc !== null && soc !== undefined && soc < 95);\n\n// --- Conditions avec debounce (instables) ---\n// discharging\nconst dischargingNow = (current !== null && current !== undefined && current <= 0);\nif (dischargingNow) {\n    if (!context.get('dischargeStart')) {\n        context.set('dischargeStart', now);\n    }\n} else {\n    context.set('dischargeStart', null);\n}\nconst dischargeStart    = context.get('dischargeStart');\nconst dischargeElapsed  = dischargeStart ? (now - dischargeStart) / 60000 : 0;\nconst discharging       = dischargingNow && (dischargeElapsed >= DEBOUNCE_MINUTES);\n\n// prodInsuff\nconst prodInsuffNow = (production <= PRODUCTION_MIN);\nif (prodInsuffNow) {\n    if (!context.get('prodInsuffStart')) {\n        context.set('prodInsuffStart', now);\n    }\n} else {\n    context.set('prodInsuffStart', null);\n}\nconst prodInsuffStart   = context.get('prodInsuffStart');\nconst prodInsuffElapsed = prodInsuffStart ? (now - prodInsuffStart) / 60000 : 0;\nconst prodInsuff        = prodInsuffNow && (prodInsuffElapsed >= DEBOUNCE_MINUTES);\n\n// --- Décision ---\nconst vacation = acConnected || socLow || discharging || prodInsuff;\n\nlet reasons = [];\nif (acConnected) reasons.push('AC connecté');\nif (socLow)      reasons.push(`SOC ${soc}%<85%`);\nif (discharging) reasons.push(`Décharge ${current}A (${dischargeElapsed.toFixed(1)}min)`);\nif (prodInsuff)  reasons.push(`Prod ${production}W≤${PRODUCTION_MIN}W (${prodInsuffElapsed.toFixed(1)}min)`);\n\n// Statut détaillé même quand en attente de confirmation\nlet pending = [];\nif (dischargingNow && !discharging) pending.push(`Décharge ${dischargeElapsed.toFixed(1)}/${DEBOUNCE_MINUTES}min`);\nif (prodInsuffNow  && !prodInsuff)  pending.push(`Prod ${prodInsuffElapsed.toFixed(1)}/${DEBOUNCE_MINUTES}min`);\n\nmsg.payload = {\n    mode: vacation ? 'vacation' : 'heat_pump',\n    ac_ignored: acIgnored,\n    soc: soc,\n    battery_current: current,\n    production: production,\n    reasons: vacation ? reasons : [`SOC≥85%, AC ignoré, Charge, Prod ${production}W>${PRODUCTION_MIN}W`]\n};\n\nif (vacation) {\n    node.status({fill:'yellow', shape:'ring', text:`VACATION: ${reasons.join(' | ')}`});\n    return [null, msg];\n} else if (pending.length > 0) {\n    node.status({fill:'orange', shape:'ring', text:`⏳ Attente: ${pending.join(' | ')}`});\n    return [null, null];\n} else {\n    node.status({fill:'cyan', shape:'dot', text:`HEAT_PUMP: Prod ${production}W, SOC ${soc}%`});\n    return [msg, null];\n}\n",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 280,
        "wires": [
            [
                "b4f5e933b5270923"
            ],
            [
                "df84ff20a7f8a525"
            ]
        ]
    },
    {
        "id": "df84ff20a7f8a525",
        "type": "function",
        "z": "a9df6ef8e6d5c24e",
        "name": "Détecter changement Vacation",
        "func": "const previousMode = flow.get('current_mode') || null;\nconst lastChangeTime = flow.get('last_change_time') || 0;\nconst currentMode = 'vacation';\n\nconst MIN_DELAY_MINUTES = 15;\nconst timeSinceLastChange = (Date.now() - lastChangeTime) / 1000 / 60;\n\nif (previousMode !== currentMode) {\n    if (timeSinceLastChange >= MIN_DELAY_MINUTES || previousMode === null) {\n        flow.set('current_mode', currentMode);\n        flow.set('last_change_time', Date.now());\n        node.status({fill:\"yellow\",shape:\"dot\",text:`⚠ Changement: ${previousMode} → VACATION`});\n        return msg;\n    } else {\n        node.status({\n            fill:\"orange\",\n            shape:\"ring\",\n            text:`⏳ Trop tôt (${timeSinceLastChange.toFixed(1)}/${MIN_DELAY_MINUTES} min)`\n        });\n        return null;\n    }\n}\n\nnode.status({fill:\"grey\",shape:\"ring\",text:\"➔ Déjà en VACATION\"});\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 540,
        "wires": [
            [
                "5834d24072dbef07"
            ]
        ]
    },
    {
        "id": "5834d24072dbef07",
        "type": "function",
        "z": "a9df6ef8e6d5c24e",
        "name": "Prepare VACATION",
        "func": "msg.headers = {\n    'Authorization': 'Bearer thinqpat_975d93159fdcf31033e33a3b9c49009ae1ffbf345dfa6dcb4e2f',\n    'x-message-id': 'fNvdZ1brTn-wWKUIWGoSVw',\n    'x-country': 'FR',\n    'x-client-id': 'Santuario-123456',\n    'x-api-key': 'v6GFvkweNo7DK7yD3ylIZ9w52aKBU0eJ7wLXkSR3',\n    'Content-Type': 'application/json'\n};\n\nmsg.payload = {\n    \"waterHeaterJobMode\": {\n        \"currentJobMode\": \"VACATION\"\n    }\n};\n\nmsg.url = 'https://api-eic.lgthinq.com/devices/918c240ab4c6e3eee70a4e9ac015c18ddd8b4f933c3d9ff813446d8f8dddf720/control';\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 150,
        "y": 640,
        "wires": [
            [
                "b1a3f22eab767963"
            ]
        ]
    },
    {
        "id": "b1a3f22eab767963",
        "type": "http request",
        "z": "a9df6ef8e6d5c24e",
        "name": "Post",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 330,
        "y": 640,
        "wires": [
            [
                "ad0b7d6eb708141c"
            ]
        ]
    },
    {
        "id": "ad0b7d6eb708141c",
        "type": "delay",
        "z": "a9df6ef8e6d5c24e",
        "name": "15s",
        "pauseType": "delay",
        "timeout": "15",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 450,
        "y": 640,
        "wires": [
            [
                "65c30da6a42500ac"
            ]
        ]
    },
    {
        "id": "65c30da6a42500ac",
        "type": "function",
        "z": "a9df6ef8e6d5c24e",
        "name": "Set 45 °C Nuit",
        "func": "msg.headers = {\n    'Authorization': 'Bearer thinqpat_975d93159fdcf31033e33a3b9c49009ae1ffbf345dfa6dcb4e2f',\n    'x-message-id': 'fNvdZ1brTn-wWKUIWGoSVw',\n    'x-country': 'FR',\n    'x-client-id': 'Santuario-123456',\n    'x-api-key': 'v6GFvkweNo7DK7yD3ylIZ9w52aKBU0eJ7wLXkSR3',\n    'Content-Type': 'application/json'\n};\n\nmsg.payload = {\n    \"temperature\": {\n        \"targetTemperature\": 45\n    }\n};\nmsg.url = 'https://api-eic.lgthinq.com/devices/918c240ab4c6e3eee70a4e9ac015c18ddd8b4f933c3d9ff813446d8f8dddf720/control';\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 640,
        "wires": [
            [
                "e3eb29cec4daebbc"
            ]
        ]
    },
    {
        "id": "e3eb29cec4daebbc",
        "type": "http request",
        "z": "a9df6ef8e6d5c24e",
        "name": "Post",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 770,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "f657abfd5f8d6ed7",
        "type": "mqtt in",
        "z": "a9df6ef8e6d5c24e",
        "name": "PV AC-coupled output L1 (W)",
        "topic": "N/c0619ab9929a/system/0/Ac/PvOnOutput/L1/Power",
        "qos": "0",
        "datatype": "json",
        "broker": "pi5_mqtt_broker_wh",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 230,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "f761b5e744731a1d",
        "type": "mqtt in",
        "z": "a9df6ef8e6d5c24e",
        "name": "MPPTs - power (W)",
        "topic": "N/c0619ab9929a/system/0/Dc/Pv/Power",
        "qos": "0",
        "datatype": "json",
        "broker": "pi5_mqtt_broker_wh",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "7bc1c5bc86416f84",
        "type": "comment",
        "z": "5cf3b669d16ebec5",
        "name": "Architecture : LG ThinQ API → Node-RED → MQTT → Rust → D-Bus Venus OS",
        "info": "API LG ThinQ (HTTPS) → parse état → publish santuario/heatpump/1/venus\nBridge Mosquitto Pi5 → NanoPi (out) → service dbus-mqtt-venus\nD-Bus : com.victronenergy.heatpump.mqtt_1\n\nPayload publié :\n{\n  \"State\": 1,               // 0=Off 1=HeatPump 2=Turbo\n  \"Temperature\": 60.0,      // température eau courante °C\n  \"TargetTemperature\": 52.0, // température cible °C\n  \"Position\": 0             // 0=AC Output\n}\n\nKeepalive : 25s (< watchdog Rust 30s)\nFetch API  : toutes les 10 min (600s)",
        "x": 300,
        "y": 20,
        "wires": []
    },
    {
        "id": "f177b0431873913c",
        "type": "comment",
        "z": "5cf3b669d16ebec5",
        "name": "State mapping : HEAT_PUMP=1  TURBO=2  VACATION=0  POWER_OFF=0",
        "info": "Réponse API LG ThinQ (GET /state) :\n{\n  \"waterHeaterJobMode\": { \"currentJobMode\": \"HEAT_PUMP\" },\n  \"operation\":          { \"waterHeaterOperationMode\": \"POWER_ON\" },\n  \"temperature\":        { \"currentTemperature\": 60, \"targetTemperature\": 52, \"unit\": \"C\" }\n}",
        "x": 300,
        "y": 60,
        "wires": []
    },
    {
        "id": "2c437b9a8a4cf92e",
        "type": "inject",
        "z": "5cf3b669d16ebec5",
        "name": "GET état (toutes les 10 min)",
        "props": [],
        "repeat": "600",
        "crontab": "",
        "once": true,
        "onceDelay": "5",
        "topic": "",
        "x": 150,
        "y": 140,
        "wires": [
            [
                "fe5620676af95615"
            ]
        ]
    },
    {
        "id": "a13e694efc835fb6",
        "type": "inject",
        "z": "5cf3b669d16ebec5",
        "name": "Test manuel",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "x": 150,
        "y": 200,
        "wires": [
            [
                "fe5620676af95615"
            ]
        ]
    },
    {
        "id": "fe5620676af95615",
        "type": "function",
        "z": "5cf3b669d16ebec5",
        "name": "Préparer GET état",
        "func": "msg.headers = {\n    'Authorization': 'Bearer thinqpat_975d93159fdcf31033e33a3b9c49009ae1ffbf345dfa6dcb4e2f',\n    'x-message-id': 'fNvdZ1brTn-wWKUIWGoSVw',\n    'x-country': 'FR',\n    'x-client-id': 'Santuario-123456',\n    'x-api-key': 'v6GFvkweNo7DK7yD3ylIZ9w52aKBU0eJ7wLXkSR3',\n    'Content-Type': 'application/json'\n};\nmsg.url = 'https://api-eic.lgthinq.com/devices/918c240ab4c6e3eee70a4e9ac015c18ddd8b4f933c3d9ff813446d8f8dddf720/state';\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 170,
        "wires": [
            [
                "e7bf249aefcb112e"
            ]
        ]
    },
    {
        "id": "e7bf249aefcb112e",
        "type": "http request",
        "z": "5cf3b669d16ebec5",
        "name": "GET /state LG ThinQ",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 460,
        "y": 100,
        "wires": [
            [
                "2cc62669ab4ad723"
            ]
        ]
    },
    {
        "id": "2cc62669ab4ad723",
        "type": "function",
        "z": "5cf3b669d16ebec5",
        "name": "Parser état → HeatpumpPayload",
        "func": "if (msg.statusCode !== 200) {\n    node.error('Erreur API LG ThinQ: ' + msg.statusCode + ' ' + JSON.stringify(msg.payload));\n    return null;\n}\n\nconst r = msg.payload.response;\nif (!r || !r.waterHeaterJobMode || !r.temperature) {\n    node.error('Réponse API inattendue: ' + JSON.stringify(msg.payload));\n    return null;\n}\n\nconst mode        = r.waterHeaterJobMode.currentJobMode;    // 'HEAT_PUMP' | 'TURBO' | 'VACATION'\nconst operation   = r.operation ? r.operation.waterHeaterOperationMode : 'POWER_ON';\nconst currentTemp = r.temperature.currentTemperature;\nconst targetTemp  = r.temperature.targetTemperature;\n\n// State mapping → /State D-Bus Venus OS (com.victronenergy.heatpump)\n// 0 = Off / Vacation\n// 1 = Heat Pump (pompe à chaleur mode normal)\n// 2 = Turbo / Boost\nconst stateMapping = {\n    'HEAT_PUMP': 1,\n    'TURBO':     2,\n    'VACATION':  0\n};\nconst isPoweredOn = operation === 'POWER_ON';\nconst state = isPoweredOn ? (stateMapping[mode] ?? 1) : 0;\n\n// Payload Venus OS D-Bus heatpump\nconst payload = {\n    State:             state,\n    Temperature:       currentTemp,\n    TargetTemperature: targetTemp,\n    Position:          0          // 0 = AC Output\n};\n\n// Stocker dans le contexte global pour le keepalive\nglobal.set('heatpump_payload', payload);\n\n// Afficher le statut du nœud\nconst modeLabel = isPoweredOn ? mode : 'OFF';\nnode.status({\n    fill:  mode === 'TURBO' ? 'red' : mode === 'HEAT_PUMP' ? 'green' : 'yellow',\n    shape: 'dot',\n    text:  `${modeLabel} | ${currentTemp}°C → ${targetTemp}°C`\n});\n\n// Output 1 : payload MQTT pour Venus OS\n// Output 2 : debug complet\nconst out1 = { topic: 'santuario/heatpump/1/venus', payload: JSON.stringify(payload) };\nconst out2 = { payload: { mode, operation, state, currentTemp, targetTemp, rawResponse: r } };\n\nreturn [out1, out2];",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 240,
        "wires": [
            [
                "f761f760d2b3d571"
            ],
            [
                "daae3b638e1b58a9"
            ]
        ]
    },
    {
        "id": "f761f760d2b3d571",
        "type": "mqtt out",
        "z": "5cf3b669d16ebec5",
        "name": "santuario/heatpump/1/venus",
        "topic": "santuario/heatpump/1/venus",
        "qos": "1",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "pi5_mqtt_broker_swh",
        "x": 800,
        "y": 340,
        "wires": []
    },
    {
        "id": "daae3b638e1b58a9",
        "type": "debug",
        "z": "5cf3b669d16ebec5",
        "name": "Debug état complet",
        "active": true,
        "tosidebar": true,
        "console": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 790,
        "y": 120,
        "wires": []
    },
    {
        "id": "b374c056e8268919",
        "type": "comment",
        "z": "5cf3b669d16ebec5",
        "name": "Keepalive 25s (obligatoire : watchdog Rust = 30s — sinon /Connected = 0)",
        "info": "Le service dbus-mqtt-venus surveille l'activité MQTT.\nSi aucun message n'arrive pendant 30s (watchdog_sec), /Connected passe à 0\net le device disparaît du VRM. Ce keepalive republie le dernier état connu\ndepuis le contexte global toutes les 25s.",
        "x": 270,
        "y": 300,
        "wires": []
    },
    {
        "id": "4eddbb8f5ab18d9f",
        "type": "inject",
        "z": "5cf3b669d16ebec5",
        "name": "Keepalive 25s",
        "props": [],
        "repeat": "25",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "x": 150,
        "y": 360,
        "wires": [
            [
                "25e7407ec7eb1563"
            ]
        ]
    },
    {
        "id": "25e7407ec7eb1563",
        "type": "function",
        "z": "5cf3b669d16ebec5",
        "name": "Republier depuis contexte",
        "func": "const payload = global.get('heatpump_payload');\nif (!payload) {\n    node.status({ fill: 'grey', shape: 'ring', text: 'en attente du 1er fetch' });\n    return null;\n}\nnode.status({\n    fill:  'blue',\n    shape: 'ring',\n    text:  `keepalive | ${payload.Temperature}°C → ${payload.TargetTemperature}°C`\n});\nreturn {\n    topic:   'santuario/heatpump/1/venus',\n    payload: JSON.stringify(payload)\n};",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 360,
        "wires": [
            [
                "f761f760d2b3d571"
            ]
        ]
    },
    {
        "id": "0d4bb57eed2b11bd",
        "type": "comment",
        "z": "5cf3b669d16ebec5",
        "name": "Commandes SET (manuelles / futures automatisations)",
        "info": "POST https://api-eic.lgthinq.com/devices/{id}/control\nExemples de payload :\n  Mode TURBO   : { \"waterHeaterJobMode\": { \"currentJobMode\": \"TURBO\" } }\n  Mode HEAT_PUMP : { \"waterHeaterJobMode\": { \"currentJobMode\": \"HEAT_PUMP\" } }\n  Temp 40°C    : { \"temperature\": { \"targetTemperature\": 40 } }\n  Temp 55°C    : { \"temperature\": { \"targetTemperature\": 55 } }",
        "x": 200,
        "y": 460,
        "wires": []
    },
    {
        "id": "1264981ea9891ef1",
        "type": "inject",
        "z": "5cf3b669d16ebec5",
        "name": "SET TURBO",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "x": 130,
        "y": 520,
        "wires": [
            [
                "954e7c3bbcf5147c"
            ]
        ]
    },
    {
        "id": "954e7c3bbcf5147c",
        "type": "function",
        "z": "5cf3b669d16ebec5",
        "name": "Préparer SET TURBO",
        "func": "msg.headers = {\n    'Authorization': 'Bearer thinqpat_975d93159fdcf31033e33a3b9c49009ae1ffbf345dfa6dcb4e2f',\n    'x-message-id': 'fNvdZ1brTn-wWKUIWGoSVw',\n    'x-country': 'FR',\n    'x-client-id': 'Santuario-123456',\n    'x-api-key': 'v6GFvkweNo7DK7yD3ylIZ9w52aKBU0eJ7wLXkSR3',\n    'Content-Type': 'application/json'\n};\nmsg.payload = { \"waterHeaterJobMode\": { \"currentJobMode\": \"TURBO\" } };\nmsg.url = 'https://api-eic.lgthinq.com/devices/918c240ab4c6e3eee70a4e9ac015c18ddd8b4f933c3d9ff813446d8f8dddf720/control';\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 520,
        "wires": [
            [
                "ac6d861edd5c86de"
            ]
        ]
    },
    {
        "id": "9bf9ee6883990278",
        "type": "inject",
        "z": "5cf3b669d16ebec5",
        "name": "SET HEAT_PUMP",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "x": 130,
        "y": 580,
        "wires": [
            [
                "0d2f25d952f104ad"
            ]
        ]
    },
    {
        "id": "0d2f25d952f104ad",
        "type": "function",
        "z": "5cf3b669d16ebec5",
        "name": "Préparer SET HEAT_PUMP",
        "func": "msg.headers = {\n    'Authorization': 'Bearer thinqpat_975d93159fdcf31033e33a3b9c49009ae1ffbf345dfa6dcb4e2f',\n    'x-message-id': 'fNvdZ1brTn-wWKUIWGoSVw',\n    'x-country': 'FR',\n    'x-client-id': 'Santuario-123456',\n    'x-api-key': 'v6GFvkweNo7DK7yD3ylIZ9w52aKBU0eJ7wLXkSR3',\n    'Content-Type': 'application/json'\n};\nmsg.payload = { \"waterHeaterJobMode\": { \"currentJobMode\": \"HEAT_PUMP\" } };\nmsg.url = 'https://api-eic.lgthinq.com/devices/918c240ab4c6e3eee70a4e9ac015c18ddd8b4f933c3d9ff813446d8f8dddf720/control';\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 580,
        "wires": [
            [
                "ac6d861edd5c86de"
            ]
        ]
    },
    {
        "id": "193f9e7e2c8a9acc",
        "type": "inject",
        "z": "5cf3b669d16ebec5",
        "name": "SET 40°C (Nuit)",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "x": 130,
        "y": 640,
        "wires": [
            [
                "1fba088afb76c3a7"
            ]
        ]
    },
    {
        "id": "1fba088afb76c3a7",
        "type": "function",
        "z": "5cf3b669d16ebec5",
        "name": "Préparer SET 40°C",
        "func": "msg.headers = {\n    'Authorization': 'Bearer thinqpat_975d93159fdcf31033e33a3b9c49009ae1ffbf345dfa6dcb4e2f',\n    'x-message-id': 'fNvdZ1brTn-wWKUIWGoSVw',\n    'x-country': 'FR',\n    'x-client-id': 'Santuario-123456',\n    'x-api-key': 'v6GFvkweNo7DK7yD3ylIZ9w52aKBU0eJ7wLXkSR3',\n    'Content-Type': 'application/json'\n};\nmsg.payload = { \"temperature\": { \"targetTemperature\": 40 } };\nmsg.url = 'https://api-eic.lgthinq.com/devices/918c240ab4c6e3eee70a4e9ac015c18ddd8b4f933c3d9ff813446d8f8dddf720/control';\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 640,
        "wires": [
            [
                "ac6d861edd5c86de"
            ]
        ]
    },
    {
        "id": "480bf61788b6bd9f",
        "type": "inject",
        "z": "5cf3b669d16ebec5",
        "name": "SET 55°C (Jour)",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "x": 130,
        "y": 700,
        "wires": [
            [
                "35a155c5d873f09a"
            ]
        ]
    },
    {
        "id": "35a155c5d873f09a",
        "type": "function",
        "z": "5cf3b669d16ebec5",
        "name": "Préparer SET 55°C",
        "func": "msg.headers = {\n    'Authorization': 'Bearer thinqpat_975d93159fdcf31033e33a3b9c49009ae1ffbf345dfa6dcb4e2f',\n    'x-message-id': 'fNvdZ1brTn-wWKUIWGoSVw',\n    'x-country': 'FR',\n    'x-client-id': 'Santuario-123456',\n    'x-api-key': 'v6GFvkweNo7DK7yD3ylIZ9w52aKBU0eJ7wLXkSR3',\n    'Content-Type': 'application/json'\n};\nmsg.payload = { \"temperature\": { \"targetTemperature\": 55 } };\nmsg.url = 'https://api-eic.lgthinq.com/devices/918c240ab4c6e3eee70a4e9ac015c18ddd8b4f933c3d9ff813446d8f8dddf720/control';\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 700,
        "wires": [
            [
                "ac6d861edd5c86de"
            ]
        ]
    },
    {
        "id": "ac6d861edd5c86de",
        "type": "http request",
        "z": "5cf3b669d16ebec5",
        "name": "POST /control LG ThinQ",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 650,
        "y": 560,
        "wires": [
            [
                "0249fa22ea0d82b0"
            ]
        ]
    },
    {
        "id": "0249fa22ea0d82b0",
        "type": "debug",
        "z": "5cf3b669d16ebec5",
        "name": "Debug réponse SET",
        "active": true,
        "tosidebar": true,
        "console": false,
        "complete": "true",
        "targetType": "full",
        "x": 740,
        "y": 440,
        "wires": []
    },
    {
        "id": "inj_hp_on",
        "type": "inject",
        "z": "tab_heatpump",
        "name": "État ON — chauffe (State=2)",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 190,
        "y": 100,
        "wires": [
            [
                "fn_hp_on"
            ]
        ]
    },
    {
        "id": "inj_hp_off",
        "type": "inject",
        "z": "tab_heatpump",
        "name": "État OFF — standby (State=0)",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 190,
        "y": 160,
        "wires": [
            [
                "fn_hp_off"
            ]
        ]
    },
    {
        "id": "inj_hp_repeat",
        "type": "inject",
        "z": "tab_heatpump",
        "name": "Heartbeat 60s (retain keepalive)",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": true,
        "onceDelay": 2,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 200,
        "y": 220,
        "wires": [
            [
                "fn_hp_on"
            ]
        ]
    },
    {
        "id": "fn_hp_on",
        "type": "function",
        "z": "tab_heatpump",
        "name": "Payload Heatpump ON",
        "func": "// com.victronenergy.heatpump — State values :\n// 0=Standby, 1=On/Idle, 2=Heating, 3=Cooling, 4=Hot water, 5=Defrost\nmsg.payload = {\n    \"State\": 2,\n    \"Temperature\": 52.5,\n    \"TargetTemperature\": 55.0,\n    \"Ac\": {\n        \"Power\": 1200.0,\n        \"Energy\": {\n            \"Forward\": 145.3\n        }\n    },\n    \"Position\": 0\n};\nreturn msg;",
        "outputs": 1,
        "x": 460,
        "y": 100,
        "wires": [
            [
                "mqtt_hp_out",
                "dbg_hp"
            ]
        ]
    },
    {
        "id": "fn_hp_off",
        "type": "function",
        "z": "tab_heatpump",
        "name": "Payload Heatpump OFF",
        "func": "msg.payload = {\n    \"State\": 0,\n    \"Temperature\": 48.0,\n    \"TargetTemperature\": 55.0,\n    \"Ac\": {\n        \"Power\": 0.0,\n        \"Energy\": {\n            \"Forward\": 145.3\n        }\n    },\n    \"Position\": 0\n};\nreturn msg;",
        "outputs": 1,
        "x": 460,
        "y": 160,
        "wires": [
            [
                "mqtt_hp_out",
                "dbg_hp"
            ]
        ]
    },
    {
        "id": "mqtt_hp_out",
        "type": "mqtt out",
        "z": "tab_heatpump",
        "name": "→ santuario/heatpump/1/venus",
        "topic": "santuario/heatpump/1/venus",
        "qos": "0",
        "retain": "true",
        "broker": "broker_nanopi_venus",
        "x": 790,
        "y": 80,
        "wires": []
    },
    {
        "id": "dbg_hp",
        "type": "debug",
        "z": "tab_heatpump",
        "name": "Heatpump publié",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "x": 710,
        "y": 180,
        "wires": []
    },
    {
        "id": "txt_hp_info",
        "type": "comment",
        "z": "tab_heatpump",
        "name": "Vérification D-Bus",
        "info": "ssh root@192.168.1.120\ndbus -y com.victronenergy.heatpump.mqtt_1 /State GetValue\ndbus -y com.victronenergy.heatpump.mqtt_1 /Temperature GetValue\ndbus -y com.victronenergy.heatpump.mqtt_1 /Ac/Power GetValue\ndbus -y com.victronenergy.heatpump.mqtt_1 / GetItems\n\nState : 0=Standby, 1=Idle, 2=Heating, 3=Cooling, 4=HotWater, 5=Defrost",
        "x": 240,
        "y": 300,
        "wires": []
    },
    {
        "id": "inj_sw_reseau",
        "type": "inject",
        "z": "tab_switch",
        "name": "Position 0 — Réseau (AC1)",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 190,
        "y": 100,
        "wires": [
            [
                "fn_sw_reseau"
            ]
        ]
    },
    {
        "id": "inj_sw_gen",
        "type": "inject",
        "z": "tab_switch",
        "name": "Position 1 — Générateur (AC2)",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 190,
        "y": 160,
        "wires": [
            [
                "fn_sw_gen"
            ]
        ]
    },
    {
        "id": "inj_sw_alerte",
        "type": "inject",
        "z": "tab_switch",
        "name": "État ALERTE (State=2)",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 220,
        "wires": [
            [
                "fn_sw_alerte"
            ]
        ]
    },
    {
        "id": "fn_sw_reseau",
        "type": "function",
        "z": "tab_switch",
        "name": "Switch → Réseau",
        "func": "// Position : 0=AC1 (Réseau), 1=AC2 (Générateur/Onduleur)\n// State    : 0=inactive, 1=active, 2=alerted\nmsg.payload = {\n    \"Position\": 0,\n    \"State\": 1\n};\nreturn msg;",
        "outputs": 1,
        "x": 450,
        "y": 100,
        "wires": [
            [
                "mqtt_sw_out",
                "dbg_sw"
            ]
        ]
    },
    {
        "id": "fn_sw_gen",
        "type": "function",
        "z": "tab_switch",
        "name": "Switch → Générateur",
        "func": "msg.payload = {\n    \"Position\": 1,\n    \"State\": 1\n};\nreturn msg;",
        "outputs": 1,
        "x": 450,
        "y": 160,
        "wires": [
            [
                "mqtt_sw_out",
                "dbg_sw"
            ]
        ]
    },
    {
        "id": "fn_sw_alerte",
        "type": "function",
        "z": "tab_switch",
        "name": "Switch → Alerte",
        "func": "msg.payload = {\n    \"Position\": 0,\n    \"State\": 2\n};\nreturn msg;",
        "outputs": 1,
        "x": 450,
        "y": 220,
        "wires": [
            [
                "mqtt_sw_out",
                "dbg_sw"
            ]
        ]
    },
    {
        "id": "mqtt_sw_out",
        "type": "mqtt out",
        "z": "tab_switch",
        "name": "→ santuario/switch/1/venus",
        "topic": "santuario/switch/1/venus",
        "qos": "0",
        "retain": "true",
        "broker": "broker_nanopi_venus",
        "x": 700,
        "y": 140,
        "wires": []
    },
    {
        "id": "dbg_sw",
        "type": "debug",
        "z": "tab_switch",
        "name": "Switch publié",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "x": 700,
        "y": 200,
        "wires": []
    },
    {
        "id": "txt_sw_info",
        "type": "comment",
        "z": "tab_switch",
        "name": "Vérification D-Bus",
        "info": "ssh root@192.168.1.120\ndbus -y com.victronenergy.switch.mqtt_1 /Position GetValue\ndbus -y com.victronenergy.switch.mqtt_1 /State GetValue\ndbus -y com.victronenergy.switch.mqtt_1 / GetItems\n\nPosition : 0=AC1/Réseau  1=AC2/Générateur\nState    : 0=inactive    1=active    2=alerted",
        "x": 240,
        "y": 320,
        "wires": []
    },
    {
        "id": "inj_plt_ok",
        "type": "inject",
        "z": "tab_platform",
        "name": "Backup OK",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 100,
        "wires": [
            [
                "fn_plt_ok"
            ]
        ]
    },
    {
        "id": "inj_plt_running",
        "type": "inject",
        "z": "tab_platform",
        "name": "Backup en cours",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 160,
        "wires": [
            [
                "fn_plt_running"
            ]
        ]
    },
    {
        "id": "inj_plt_error",
        "type": "inject",
        "z": "tab_platform",
        "name": "Backup erreur",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 220,
        "wires": [
            [
                "fn_plt_error"
            ]
        ]
    },
    {
        "id": "inj_plt_heartbeat",
        "type": "inject",
        "z": "tab_platform",
        "name": "Heartbeat idle (60s)",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": true,
        "onceDelay": 3,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 280,
        "wires": [
            [
                "fn_plt_ok"
            ]
        ]
    },
    {
        "id": "fn_plt_ok",
        "type": "function",
        "z": "tab_platform",
        "name": "Platform Backup OK",
        "func": "// Status : 0=idle, 1=running, 2=OK, 3=error\n// LastRun : timestamp Unix secondes\nmsg.payload = {\n    \"Backup\": {\n        \"Status\": 2,\n        \"LastRun\": Math.floor(Date.now() / 1000)\n    },\n    \"Restore\": {\n        \"Status\": 0,\n        \"LastRun\": 0\n    }\n};\nreturn msg;",
        "outputs": 1,
        "x": 450,
        "y": 100,
        "wires": [
            [
                "mqtt_plt_out",
                "dbg_plt"
            ]
        ]
    },
    {
        "id": "fn_plt_running",
        "type": "function",
        "z": "tab_platform",
        "name": "Platform Backup running",
        "func": "msg.payload = {\n    \"Backup\": {\n        \"Status\": 1,\n        \"LastRun\": Math.floor(Date.now() / 1000)\n    },\n    \"Restore\": {\n        \"Status\": 0,\n        \"LastRun\": 0\n    }\n};\nreturn msg;",
        "outputs": 1,
        "x": 460,
        "y": 160,
        "wires": [
            [
                "mqtt_plt_out",
                "dbg_plt"
            ]
        ]
    },
    {
        "id": "fn_plt_error",
        "type": "function",
        "z": "tab_platform",
        "name": "Platform Backup error",
        "func": "msg.payload = {\n    \"Backup\": {\n        \"Status\": 3,\n        \"LastRun\": Math.floor(Date.now() / 1000)\n    },\n    \"Restore\": {\n        \"Status\": 0,\n        \"LastRun\": 0\n    }\n};\nreturn msg;",
        "outputs": 1,
        "x": 450,
        "y": 220,
        "wires": [
            [
                "mqtt_plt_out",
                "dbg_plt"
            ]
        ]
    },
    {
        "id": "mqtt_plt_out",
        "type": "mqtt out",
        "z": "tab_platform",
        "name": "→ santuario/platform/venus",
        "topic": "santuario/platform/venus",
        "qos": "0",
        "retain": "true",
        "broker": "broker_nanopi_venus",
        "x": 710,
        "y": 140,
        "wires": []
    },
    {
        "id": "dbg_plt",
        "type": "debug",
        "z": "tab_platform",
        "name": "Platform publié",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "x": 710,
        "y": 200,
        "wires": []
    },
    {
        "id": "txt_plt_info",
        "type": "comment",
        "z": "tab_platform",
        "name": "Vérification D-Bus",
        "info": "ssh root@192.168.1.120\ndbus -y | grep platform\ndbus -y com.victronenergy.platform /Backup/Status GetValue\ndbus -y com.victronenergy.platform /Backup/LastRun GetValue\ndbus -y com.victronenergy.platform / GetItems\n\nStatus : 0=idle  1=running  2=OK  3=error",
        "x": 240,
        "y": 380,
        "wires": []
    },
    {
        "id": "8a735ef49509ec69",
        "type": "comment",
        "z": "d1e2eba421500b9c",
        "name": "Irradiance RS485 Modbus RTU — Capteur solaire addr=0x05",
        "info": "Flow passif : souscrit uniquement MQTT.\nLa lecture RS485 est assurée par le service systemd `irradiance-rs485` sur le Pi5.\n\nSi le service est arrêté, `irradiance_wm2` conserve la dernière valeur connue\njusqu'au redémarrage de Node-RED (la valeur dans meteo restera à 0 si jamais reçue).",
        "x": 250,
        "y": 60,
        "wires": []
    },
    {
        "id": "c24374daa5a84b12",
        "type": "mqtt in",
        "z": "d1e2eba421500b9c",
        "name": "santuario/irradiance/raw",
        "topic": "santuario/irradiance/raw",
        "qos": "0",
        "datatype": "str",
        "broker": "pi5_mqtt_broker",
        "nl": false,
        "rap": true,
        "rh": 1,
        "inputs": 0,
        "x": 180,
        "y": 140,
        "wires": [
            [
                "89160c1480e60c99"
            ]
        ]
    },
    {
        "id": "89160c1480e60c99",
        "type": "function",
        "z": "d1e2eba421500b9c",
        "name": "Mettre à jour global irradiance_wm2",
        "func": "const raw = parseInt(msg.payload, 10);\n\n// Valider : 0–2000 W/m² (plage capteur)\nif (isNaN(raw) || raw < 0 || raw > 2000) {\n    node.warn('Valeur irradiance invalide : ' + msg.payload);\n    node.status({fill:'red', shape:'ring', text:'Valeur invalide : ' + msg.payload});\n    return null;\n}\n\nglobal.set('irradiance_wm2', raw);\n\n// Statut visuel selon intensité solaire\nlet fill = 'grey';\nif (raw === 0)        fill = 'grey';\nelse if (raw < 200)   fill = 'yellow';\nelse if (raw < 600)   fill = 'yellow';\nelse                  fill = 'green';\n\nnode.status({fill, shape: 'dot', text: raw + ' W/m²'});\n\nmsg.payload = raw;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "// Initialiser à 0 au démarrage (évite undefined dans meteo)\nglobal.set('irradiance_wm2', 0);",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 140,
        "wires": [
            [
                "c3127150a226aeeb"
            ]
        ]
    },
    {
        "id": "c3127150a226aeeb",
        "type": "debug",
        "z": "d1e2eba421500b9c",
        "name": "Irradiance W/m²",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 140,
        "wires": []
    },
    {
        "id": "6134c01533ba83ef",
        "type": "comment",
        "z": "d1e2eba421500b9c",
        "name": "Diagnostic service Pi5",
        "info": "```bash\n# État du service\nsystemctl status irradiance-rs485\njournalctl -u irradiance-rs485 -f\n\n# Vérifier MQTT reçu\nmosquitto_sub -h localhost -p 1883 -t 'santuario/irradiance/raw' -v\n\n# Vérifier D-Bus Venus\nssh root@192.168.1.120\ndbus -y com.victronenergy.meteo /Irradiance GetValue\n```",
        "x": 220,
        "y": 220,
        "wires": []
    },
    {
        "id": "89613b4908710212",
        "type": "inject",
        "z": "b52ddadc22b9d1fc",
        "name": "Récupération météo (toutes les 5 min)",
        "props": [],
        "repeat": "300",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "x": 240,
        "y": 60,
        "wires": [
            [
                "b683c05b8f181563"
            ]
        ]
    },
    {
        "id": "b683c05b8f181563",
        "type": "http request",
        "z": "b52ddadc22b9d1fc",
        "name": "Open-Meteo API - Badalucco",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://api.open-meteo.com/v1/forecast?latitude=43.8833&longitude=7.8667&current=temperature_2m,relative_humidity_2m,pressure_msl,wind_speed_10m,wind_direction_10m&timezone=Europe%2FRome&wind_speed_unit=ms",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 610,
        "y": 60,
        "wires": [
            [
                "1309996cd2196e22"
            ]
        ]
    },
    {
        "id": "1309996cd2196e22",
        "type": "function",
        "z": "b52ddadc22b9d1fc",
        "name": "Extraire et publier météo",
        "func": "const cur = msg.payload.current;\nconst temp      = cur.temperature_2m;\nconst humidity  = cur.relative_humidity_2m;\nconst pressure  = cur.pressure_msl;\nconst windSpeed = cur.wind_speed_10m;\nconst windDir   = cur.wind_direction_10m;\n\nglobal.set('outdoor_temp',       temp);\nglobal.set('outdoor_humidity',   humidity);\nglobal.set('outdoor_pressure',   pressure);\nglobal.set('outdoor_wind_speed', windSpeed);\nglobal.set('outdoor_wind_dir',   windDir);\n\nconst todaysYield    = global.get('total_yield_today')  || 0;\nconst yieldYesterday = global.get('yield_yesterday')     || 0;\nconst irradiance     = global.get('irradiance_wm2')      || 0;\n\nnode.status({fill:'green', shape:'dot', text:`${temp}°C — ${irradiance} W/m² — ${todaysYield.toFixed(2)} kWh`});\n\nconst heatMsg = {\n    topic:   'santuario/heat/1/venus',\n    payload: JSON.stringify({\n        Temperature:     temp,\n        TemperatureType: 4,\n        Humidity:        humidity,\n        Pressure:        pressure\n    })\n};\nconst meteoMsg = {\n    topic:   'santuario/meteo/venus',\n    payload: JSON.stringify({\n        Irradiance:     irradiance,\n        TodaysYield:    Math.round(todaysYield * 10) / 10,\n        YieldYesterday: yieldYesterday,\n        WindSpeed:      windSpeed,\n        WindDirection:  windDir\n    })\n};\nreturn [[heatMsg, meteoMsg]];",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 260,
        "y": 140,
        "wires": [
            [
                "65d38cb5d4d28aeb",
                "4b5f2ea70b40a472"
            ]
        ]
    },
    {
        "id": "44c025d97ac520b9",
        "type": "inject",
        "z": "b52ddadc22b9d1fc",
        "name": "Keepalive Venus (toutes les 5 min)",
        "props": [],
        "repeat": "300",
        "crontab": "",
        "once": false,
        "onceDelay": 0,
        "topic": "",
        "x": 210,
        "y": 260,
        "wires": [
            [
                "f82a15b57519f411"
            ]
        ]
    },
    {
        "id": "f82a15b57519f411",
        "type": "function",
        "z": "b52ddadc22b9d1fc",
        "name": "Republier depuis contexte",
        "func": "const temp      = global.get('outdoor_temp');\nconst humidity  = global.get('outdoor_humidity');\nconst pressure  = global.get('outdoor_pressure');\nconst windSpeed = global.get('outdoor_wind_speed');\nconst windDir   = global.get('outdoor_wind_dir');\n\nif (temp === undefined || temp === null) return null;\n\nconst todaysYield    = global.get('total_yield_today')  || 0;\nconst yieldYesterday = global.get('yield_yesterday')     || 0;\nconst irradiance     = global.get('irradiance_wm2')      || 0;\n\nconst heatMsg = {\n    topic:   'santuario/heat/1/venus',\n    payload: JSON.stringify({\n        Temperature:     temp,\n        TemperatureType: 4,\n        Humidity:        humidity,\n        Pressure:        pressure\n    })\n};\nconst meteoMsg = {\n    topic:   'santuario/meteo/venus',\n    payload: JSON.stringify({\n        Irradiance:     irradiance,\n        TodaysYield:    Math.round(todaysYield * 10) / 10,\n        YieldYesterday: yieldYesterday,\n        WindSpeed:      windSpeed,\n        WindDirection:  windDir\n    })\n};\nreturn [[heatMsg, meteoMsg]];",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 260,
        "wires": [
            [
                "65d38cb5d4d28aeb",
                "d14838c31c333e2f"
            ]
        ]
    },
    {
        "id": "65d38cb5d4d28aeb",
        "type": "mqtt out",
        "z": "b52ddadc22b9d1fc",
        "name": "Venus Météo",
        "topic": "",
        "qos": "1",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "pi5_mqtt_broker",
        "x": 840,
        "y": 160,
        "wires": []
    },
    {
        "id": "4b5f2ea70b40a472",
        "type": "debug",
        "z": "b52ddadc22b9d1fc",
        "name": "debug météo",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 220,
        "wires": []
    },
    {
        "id": "4a473d8499014eeb",
        "type": "comment",
        "z": "b52ddadc22b9d1fc",
        "name": "Production solaire — MPPT + PVInverter delta — Persistance MQTT retained",
        "info": "## Sources production solaire\n- MPPT SmartSolar → N/c0619ab9929a/solarcharger/+/History/Daily/0/Yield\n  Venus OS remet à zéro à minuit automatiquement.\n- Micro-onduleurs → N/c0619ab9929a/pvinverter/+/Ac/Energy/Forward\n  Valeur cumulée → delta journalier via baseline.\n\n## Persistance pvinv_baseline (survit aux redémarrages)\n  topic: santuario/persist/pvinv_baseline  (retain:true, qos:1)\n  Mosquitto persistence=true + volume Docker → persiste sur disque\n  Au démarrage Node-RED : mqtt-in (rap:true) reçoit immédiatement la baseline\n  Le bridge NanoPi reconnecte en ~30s → PVInverter arrive après baseline ✓\n\n## Reset minuit\n  L'inject cron 00:00 remet pvinv_baseline à null et publie payload vide\n  (supprime le retained dans Mosquitto).\n  Au premier message PVInverter du matin → nouvelle baseline posée.\n\n## Vérification NanoPi\n  dbus -y | grep pvinverter\n  dbus -y com.victronenergy.pvinverter.cgwacs_ttyUSB0_mb2 /Ac/Energy/Forward GetValue\n\n## Vérifier la baseline persistée\n  mosquitto_sub -h localhost -p 1883 -t santuario/persist/pvinv_baseline -C 1",
        "x": 330,
        "y": 360,
        "wires": []
    },
    {
        "id": "8713fe5d7b3edfa9",
        "type": "mqtt in",
        "z": "b52ddadc22b9d1fc",
        "name": "MPPT History/Daily/0/Yield (kWh aujourd'hui)",
        "topic": "N/c0619ab9929a/solarcharger/+/History/Daily/0/Yield",
        "qos": "0",
        "datatype": "json",
        "broker": "pi5_mqtt_broker",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 200,
        "y": 440,
        "wires": [
            [
                "34cc2ae7998305f4"
            ]
        ]
    },
    {
        "id": "34cc2ae7998305f4",
        "type": "function",
        "z": "b52ddadc22b9d1fc",
        "name": "Accumuler MPPT yields",
        "func": "const val = msg.payload && msg.payload.value !== undefined ? msg.payload.value : msg.payload;\nif (val === null || val === undefined || isNaN(val)) return null;\n\nlet mpptYields = global.get('mppt_yields') || {};\nmpptYields[msg.topic] = parseFloat(val) || 0;\nglobal.set('mppt_yields', mpptYields);\n\nconst mpptTotal = Object.values(mpptYields).reduce((a, b) => a + b, 0);\nglobal.set('mppt_yield_today', mpptTotal);\n\n// Mettre à jour total si pvinvToday déjà calculé\nconst pvinvToday = global.get('pvinv_yield_today') || 0;\nconst total = parseFloat((mpptTotal + pvinvToday).toFixed(3));\nif (pvinvToday > 0 || mpptTotal > 0) {\n    global.set('total_yield_today', total);\n}\n\nnode.status({fill:'green', shape:'dot', text:'MPPT: ' + mpptTotal.toFixed(2) + ' kWh'});\nreturn [msg, {}, {}];",
        "outputs": 3,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 440,
        "wires": [
            [
                "90b18ef8d9587573"
            ],
            [
                "f870066570138b9a"
            ],
            [
                "d14838c31c333e2f"
            ]
        ]
    },
    {
        "id": "b76a561db9713da2",
        "type": "mqtt in",
        "z": "b52ddadc22b9d1fc",
        "name": "ET112 mqtt_7 énergie cumulée (kWh)",
        "topic": "N/c0619ab9929a/pvinverter/32/Ac/Energy/Forward",
        "qos": "0",
        "datatype": "auto",
        "broker": "pi5_mqtt_broker",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 220,
        "y": 520,
        "wires": [
            [
                "cadb14a40ec54eb9"
            ]
        ]
    },
    {
        "id": "cadb14a40ec54eb9",
        "type": "function",
        "z": "b52ddadc22b9d1fc",
        "name": "Delta journalier PVInverter (mqtt_7 instance 32) → total_yield",
        "func": "// Gérer payload string ou objet (datatype auto)\nlet payload = msg.payload;\nif (typeof payload === 'string') {\n    try { payload = JSON.parse(payload); } catch(e) { return null; }\n}\nconst val = payload && payload.value !== undefined ? payload.value : payload;\nif (val === null || val === undefined || isNaN(val)) return null;\n\nconst current = parseFloat(parseFloat(val).toFixed(3));\nif (isNaN(current) || current <= 0) return null;\n\n// Baseline posée au 1er message de la journée (ou après reset minuit)\nlet baseline = global.get('pvinv_baseline');\nif (baseline === null || baseline === undefined) {\n    global.set('pvinv_baseline', current);\n    baseline = current;\n}\n\n// Sécurité : si le compteur ET112 a été remis à zéro\nif (current < baseline) {\n    global.set('pvinv_baseline', current);\n    baseline = current;\n}\n\nconst pvinvToday = Math.max(0, parseFloat((current - baseline).toFixed(3)));\nglobal.set('pvinv_yield_today', pvinvToday);\n\nconst mpptToday = global.get('mppt_yield_today') || 0;\nconst total = parseFloat((mpptToday + pvinvToday).toFixed(3));\nglobal.set('total_yield_today', total);\n\nnode.status({fill:'green', shape:'dot', text:'PVInv: ' + pvinvToday.toFixed(2) + ' + MPPT: ' + mpptToday.toFixed(2) + ' = ' + total.toFixed(2) + ' kWh'});\n\n// out1=debug | out2=persist baseline | out3=InfluxDB trigger | out4=push serveur\nreturn [msg, {payload: String(baseline)}, {}, {}];",
        "outputs": 4,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 520,
        "wires": [
            [
                "90b18ef8d9587573"
            ],
            [
                "73390b6974741852"
            ],
            [
                "f870066570138b9a"
            ],
            [
                "d14838c31c333e2f"
            ]
        ]
    },
    {
        "id": "b70ee9db7c935991",
        "type": "inject",
        "z": "b52ddadc22b9d1fc",
        "name": "Reset minuit (00:00)",
        "props": [],
        "repeat": "",
        "crontab": "0 0 * * *",
        "once": false,
        "onceDelay": 0,
        "topic": "",
        "x": 190,
        "y": 600,
        "wires": [
            [
                "b04bc864245b38e8"
            ]
        ]
    },
    {
        "id": "b04bc864245b38e8",
        "type": "function",
        "z": "b52ddadc22b9d1fc",
        "name": "Reset production du jour (minuit)",
        "func": "// Sauvegarder la production d'aujourd'hui comme hier AVANT le reset\nconst yieldToday = global.get('total_yield_today') || 0;\nglobal.set('yield_yesterday', yieldToday);\n\n// Reset des compteurs du jour\nglobal.set('total_yield_today', 0);\nglobal.set('pvinv_yield_today', 0);\nglobal.set('pvinv_baseline', null);\nglobal.set('mppt_yield_today', 0);\nglobal.set('mppt_yields', {});\n\nnode.status({fill:'blue', shape:'dot', text:'Reset minuit — hier: ' + yieldToday.toFixed(2) + ' kWh'});\n// out1: n/a | out2: efface retained pvinv_baseline | out3: persiste yield_yesterday\nreturn [null, {payload: ''}, {payload: String(yieldToday)}];",
        "outputs": 3,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 600,
        "wires": [
            [],
            [
                "73390b6974741852"
            ],
            [
                "bd63d1ad956bdf65"
            ]
        ]
    },
    {
        "id": "90b18ef8d9587573",
        "type": "debug",
        "z": "b52ddadc22b9d1fc",
        "name": "debug yield",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 480,
        "wires": []
    },
    {
        "id": "9c0d73857786c43b",
        "type": "comment",
        "z": "b52ddadc22b9d1fc",
        "name": "PERSISTANCE pvinv_baseline — MQTT retained (Mosquitto persistence=true)",
        "info": "## Principe\npvinv_baseline est publiée en retained sur santuario/persist/pvinv_baseline\nMosquitto stocke ce message sur disque (persistence=true + volume Docker).\n\nAu redémarrage Node-RED / Pi5 :\n1. pvinv_persist_in (rap:true) reçoit immédiatement la baseline depuis Mosquitto local\n2. restore_baseline_fn repose global.pvinv_baseline\n3. Bridge NanoPi reconnecte ~30s plus tard\n4. Premier PVInverter reçu → baseline déjà posée → delta correct ✓\n\n## Vérification\nmosquitto_sub -h localhost -p 1883 -t santuario/persist/pvinv_baseline -C 1\n# → doit afficher la baseline (ex: 587.2)\n\n## Reset manuel si baseline incorrecte\nSe référer à fix-pvinv-baseline.json (CLAUDE.md §10)",
        "x": 280,
        "y": 680,
        "wires": []
    },
    {
        "id": "73390b6974741852",
        "type": "mqtt out",
        "z": "b52ddadc22b9d1fc",
        "name": "Persist pvinv_baseline (retained)",
        "topic": "santuario/persist/pvinv_baseline",
        "qos": "1",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "pi5_mqtt_broker",
        "x": 870,
        "y": 560,
        "wires": []
    },
    {
        "id": "f67edd8dac7e9ba4",
        "type": "comment",
        "z": "b52ddadc22b9d1fc",
        "name": "PERSISTANCE InfluxDB — solar_persist (pvinv_baseline + production du jour)",
        "info": "## Principe (solution pérenne)\npvinv_baseline, mppt_yield_today, pvinv_yield_today, total_yield_today\nsont écrits dans InfluxDB (measurement: solar_persist) avec un tag 'day' = date locale Paris.\n\n## Au démarrage (+5s)\n  influx_startup_inject → influx_restore_fn → influx_query_req → influx_restore_result_fn\n  Requête Flux : dernier enregistrement solar_persist pour aujourd'hui (tag day=YYYY-MM-DD)\n  → pvinv_baseline restaurée → 1er PVInverter calcule delta correct ✓\n\n## Écriture\n  mppt_yield_fn (output 2) → influx_write_fn → influx_write_req\n  pvinv_daily_fn (output 3) → influx_write_fn → influx_write_req\n  Line protocol : solar_persist,day=2026-03-22,host=pi5 pvinv_baseline=587.2,...\n\n## Variables d'environnement requises dans docker-compose.infra.yml\n  INFLUX_TOKEN, INFLUX_ORG, INFLUX_BUCKET\n\n## Vérification (Pi5)\n  # Voir les derniers enregistrements\n  docker exec dalybms-influxdb influx query \\\n    'from(bucket:\"daly_bms\") |> range(start:-2h) |> filter(fn:(r)=>r._measurement==\"solar_persist\") |> last()'",
        "x": 310,
        "y": 860,
        "wires": []
    },
    {
        "id": "4a274c9dc183b4dc",
        "type": "inject",
        "z": "b52ddadc22b9d1fc",
        "name": "Restaurer/Synchroniser depuis InfluxDB (démarrage +5s puis toutes les 5 min)",
        "props": [],
        "repeat": "300",
        "crontab": "",
        "once": true,
        "onceDelay": 5,
        "topic": "",
        "x": 230,
        "y": 940,
        "wires": [
            [
                "b5a1d8a110b5f816"
            ]
        ]
    },
    {
        "id": "b5a1d8a110b5f816",
        "type": "function",
        "z": "b52ddadc22b9d1fc",
        "name": "Préparer requête Flux (restore baseline)",
        "func": "// Date locale Paris pour filtrer uniquement les données d'aujourd'hui\nconst now = new Date();\nconst parisISO = now.toLocaleString('sv-SE', {timeZone: 'Europe/Paris'});\nconst today = parisISO.substring(0, 10); // YYYY-MM-DD\n\nconst token = env.get('INFLUX_TOKEN');\nif (!token) {\n    node.status({fill:'red', shape:'ring', text:'INFLUX_TOKEN manquant dans docker-compose'});\n    return null;\n}\n\nconst org    = env.get('INFLUX_ORG')    || 'santuario';\nconst bucket = env.get('INFLUX_BUCKET') || 'daly_bms';\n\n// range -30h pour couvrir les décalages de fuseau horaire\n// tag 'day' garantit qu'on ne récupère QUE les données du jour Paris\nconst fluxQuery = [\n    'from(bucket: \"' + bucket + '\")',\n    '  |> range(start: -30h)',\n    '  |> filter(fn: (r) => r._measurement == \"solar_persist\")',\n    '  |> filter(fn: (r) => r.day == \"' + today + '\")',\n    '  |> last()'\n].join('\\n');\n\nmsg.url     = 'http://dalybms-influxdb:8086/api/v2/query?org=' + org;\nmsg.method  = 'POST';\nmsg.payload = fluxQuery;\nmsg.headers = {\n    'Authorization': 'Token ' + token,\n    'Content-Type': 'application/vnd.flux',\n    'Accept': 'application/csv'\n};\nnode.status({fill:'blue', shape:'dot', text:'Requête Flux pour ' + today});\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 940,
        "wires": [
            [
                "4f9aefae75986047"
            ]
        ]
    },
    {
        "id": "4f9aefae75986047",
        "type": "http request",
        "z": "b52ddadc22b9d1fc",
        "name": "InfluxDB Query (Flux)",
        "method": "use",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 820,
        "y": 940,
        "wires": [
            [
                "0daa47384368f640"
            ]
        ]
    },
    {
        "id": "0daa47384368f640",
        "type": "function",
        "z": "b52ddadc22b9d1fc",
        "name": "Restaurer globals depuis InfluxDB",
        "func": "const csv = msg.payload || '';\nconst lines = csv.split('\\n').filter(l => l.trim() && !l.startsWith('#'));\nif (lines.length < 2) {\n    node.status({fill:'grey', shape:'ring', text:'Pas de données InfluxDB pour aujourd\\'hui'});\n    return null;\n}\n\nconst header = lines[0].split(',');\nconst fieldIdx = header.findIndex(h => h.trim() === '_field');\nconst valueIdx = header.findIndex(h => h.trim() === '_value');\nif (fieldIdx === -1 || valueIdx === -1) return null;\n\nconst data = {};\nfor (let i = 1; i < lines.length; i++) {\n    const cols = lines[i].split(',');\n    const field = (cols[fieldIdx] || '').trim();\n    const value = parseFloat((cols[valueIdx] || '').trim());\n    if (field && !isNaN(value)) data[field] = value;\n}\n\nif (data.mppt_yield_today !== undefined) global.set('mppt_yield_today', data.mppt_yield_today || 0);\n\nconst currentTotal = global.get('total_yield_today') || 0;\nconst influxTotal  = data.total_yield_today || 0;\nif (currentTotal <= 0 && influxTotal > 0) {\n    global.set('total_yield_today', influxTotal);\n}\n\nconst total = global.get('total_yield_today') || 0;\nconst mppt  = global.get('mppt_yield_today')  || 0;\nnode.status({fill:'green', shape:'dot',\n    text: 'InfluxDB ✓ Total=' + total.toFixed(2) + ' MPPT=' + mppt.toFixed(2) + ' kWh'});\n\nif (total <= 0) return null;\n\nconst irradiance     = global.get('irradiance_wm2')     || 0;\nconst yieldYesterday = global.get('yield_yesterday')     || 0;\nconst windSpeed      = global.get('outdoor_wind_speed')  || 0;\nconst windDir        = global.get('outdoor_wind_dir')    || 0;\nconst temp           = global.get('outdoor_temp')        || 0;\n\nreturn [[\n    { topic: 'santuario/heat/1/venus', payload: JSON.stringify({\n        Temperature: temp, TemperatureType: 4,\n        Humidity: global.get('outdoor_humidity') || 0,\n        Pressure: global.get('outdoor_pressure') || 0\n    })},\n    { topic: 'santuario/meteo/venus', payload: JSON.stringify({\n        Irradiance: irradiance, TodaysYield: Math.round(total * 10) / 10,\n        YieldYesterday: yieldYesterday,\n        WindSpeed: windSpeed, WindDirection: windDir\n    })}\n]];",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 1020,
        "wires": [
            [
                "65d38cb5d4d28aeb"
            ]
        ]
    },
    {
        "id": "f870066570138b9a",
        "type": "function",
        "z": "b52ddadc22b9d1fc",
        "name": "Formater line protocol InfluxDB",
        "func": "const token  = env.get('INFLUX_TOKEN');\nconst org    = env.get('INFLUX_ORG')    || 'santuario';\nconst bucket = env.get('INFLUX_BUCKET') || 'daly_bms';\nif (!token) return null;\n\nconst mppt  = global.get('mppt_yield_today')  || 0;\nconst total = global.get('total_yield_today') || 0;\n\nconst now = new Date();\nconst parisISO = now.toLocaleString('sv-SE', {timeZone: 'Europe/Paris'});\nconst day = parisISO.substring(0, 10);\nconst ts  = Math.floor(Date.now() / 1000);\n\nconst hostname = (env.get('HOSTNAME') || 'pi5').replace(/[^a-zA-Z0-9_-]/g, '_');\nconst line = `solar_persist,day=${day},host=${hostname} mppt_yield_today=${mppt},total_yield_today=${total} ${ts}`;\n\nmsg.url     = `http://dalybms-influxdb:8086/api/v2/write?org=${org}&bucket=${bucket}&precision=s`;\nmsg.method  = 'POST';\nmsg.payload = line;\nmsg.headers = {\n    'Authorization': 'Token ' + token,\n    'Content-Type':  'text/plain; charset=utf-8'\n};\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 780,
        "y": 540,
        "wires": [
            [
                "d12f0aaf8c6b01b9"
            ]
        ]
    },
    {
        "id": "d12f0aaf8c6b01b9",
        "type": "http request",
        "z": "b52ddadc22b9d1fc",
        "name": "InfluxDB Write (solar_persist)",
        "method": "use",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1000,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "bd63d1ad956bdf65",
        "type": "mqtt out",
        "z": "b52ddadc22b9d1fc",
        "name": "Persist yield_yesterday (retained)",
        "topic": "santuario/persist/yield_yesterday",
        "qos": "0",
        "retain": "true",
        "broker": "pi5_mqtt_broker",
        "x": 1200,
        "y": 540,
        "wires": []
    },
    {
        "id": "f642cd96236a295c",
        "type": "mqtt in",
        "z": "b52ddadc22b9d1fc",
        "name": "Restore yield_yesterday (au démarrage)",
        "topic": "santuario/persist/yield_yesterday",
        "qos": "0",
        "datatype": "auto",
        "broker": "pi5_mqtt_broker",
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 200,
        "y": 680,
        "wires": [
            [
                "ac23854404dad815"
            ]
        ]
    },
    {
        "id": "ac23854404dad815",
        "type": "function",
        "z": "b52ddadc22b9d1fc",
        "name": "Restaurer yield_yesterday",
        "func": "const raw = msg.payload;\nif (raw === '' || raw === null || raw === undefined) {\n    global.set('yield_yesterday', 0);\n    node.status({fill:'grey', shape:'ring', text:'Pas de yield_yesterday (1er jour)'});\n    return null;\n}\nconst val = parseFloat(raw);\n// Seuil raisonnable : production max journalière ~50 kWh sur cette installation\nconst MAX_DAILY_KWH = 50;\nif (!isNaN(val) && val >= 0 && val <= MAX_DAILY_KWH) {\n    global.set('yield_yesterday', val);\n    node.status({fill:'yellow', shape:'dot', text:'Hier: ' + val.toFixed(2) + ' kWh'});\n} else if (!isNaN(val) && val > MAX_DAILY_KWH) {\n    // Valeur aberrante (cumul brut) — réinitialiser et nettoyer le retained\n    global.set('yield_yesterday', 0);\n    node.status({fill:'orange', shape:'ring', text:'Valeur aberrante ignorée: ' + val.toFixed(1) + ' kWh → reset'});\n    // Publier 0 pour écraser le retained incorrect\n    return {payload: '0', topic: 'santuario/persist/yield_yesterday', retain: true};\n}\nreturn null;",
        "outputs": 1,
        "x": 480,
        "y": 680,
        "wires": [
            [
                "bd63d1ad956bdf65"
            ]
        ]
    },
    {
        "id": "d14838c31c333e2f",
        "type": "function",
        "z": "b52ddadc22b9d1fc",
        "name": "Préparer POST mppt-yield",
        "func": "// Envoyer total_yield_today + mppt_power_w vers daly-bms-server\n// total_yield_kwh = MPPT + ET112 delta journalier (même valeur que Victron 'Solaire totale')\n// mppt_power_w    = puissance instantanée totale des chargeurs MPPT en W\nconst kwh = global.get('total_yield_today') || 0;\nconst pw  = global.get('mppt_power_w')      || 0;\nmsg.payload = { total_yield_kwh: kwh, mppt_power_w: pw };\nmsg.headers = { 'Content-Type': 'application/json' };\nnode.status({fill:'blue', shape:'dot', text: kwh.toFixed(2) + ' kWh / ' + Math.round(pw) + ' W → serveur'});\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 440,
        "wires": [
            [
                "b6961c2ad7bb59af"
            ]
        ]
    },
    {
        "id": "b6961c2ad7bb59af",
        "type": "http request",
        "z": "b52ddadc22b9d1fc",
        "name": "POST /api/v1/solar/mppt-yield",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://192.168.1.141:8080/api/v1/solar/mppt-yield",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 980,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "02f927c95f30fb28",
        "type": "comment",
        "z": "b52ddadc22b9d1fc",
        "name": "mppt_power_w → global posé par Solar_power.json (topics Yield/Power corrects)",
        "info": "La puissance MPPT instantanée (global.mppt_power_w) est alimentée par\nle flow Solar_power.json qui subscribe aux topics corrects :\n  N/c0619ab9929a/solarcharger/273/Yield/Power\n  N/c0619ab9929a/solarcharger/289/Yield/Power\n\nLes nœuds mppt_power_in / mppt_power_fn ont été supprimés car ils\nutilisaient le mauvais topic solarcharger/+/Dc/Power.",
        "x": 300,
        "y": 390,
        "wires": []
    },
    {
        "id": "6e6157fd01d27565",
        "type": "mqtt in",
        "z": "943751b830fb2ee3",
        "name": "Inverter DC Voltage",
        "topic": "N/c0619ab9929a/vebus/275/Dc/0/Voltage",
        "qos": "0",
        "datatype": "json",
        "broker": "28b1f2aa896614e8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 60,
        "wires": [
            [
                "f8557a2235196ca3"
            ]
        ]
    },
    {
        "id": "147e3a052a1701e8",
        "type": "mqtt in",
        "z": "943751b830fb2ee3",
        "name": "Inverter DC Current",
        "topic": "N/c0619ab9929a/vebus/275/Dc/0/Current",
        "qos": "0",
        "datatype": "json",
        "broker": "28b1f2aa896614e8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 120,
        "wires": [
            [
                "8ad516c486e7fce0"
            ]
        ]
    },
    {
        "id": "d44d955b27ee1870",
        "type": "mqtt in",
        "z": "943751b830fb2ee3",
        "name": "Inverter DC Power",
        "topic": "N/c0619ab9929a/vebus/275/Dc/0/Power",
        "qos": "0",
        "datatype": "json",
        "broker": "28b1f2aa896614e8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 180,
        "wires": [
            [
                "72ba219feb6377fb"
            ]
        ]
    },
    {
        "id": "b5efe41ca486417e",
        "type": "mqtt in",
        "z": "943751b830fb2ee3",
        "name": "Inverter AC L1 Voltage",
        "topic": "N/c0619ab9929a/vebus/275/Ac/Out/L1/V",
        "qos": "0",
        "datatype": "json",
        "broker": "28b1f2aa896614e8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 240,
        "wires": [
            [
                "5e01c0a447036543"
            ]
        ]
    },
    {
        "id": "c50d3e8956727b2b",
        "type": "mqtt in",
        "z": "943751b830fb2ee3",
        "name": "Inverter AC Output Power",
        "topic": "N/c0619ab9929a/system/0/Ac/ConsumptionOnOutput/L1/Power",
        "qos": "0",
        "datatype": "json",
        "broker": "28b1f2aa896614e8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 300,
        "wires": [
            [
                "960a8f8442335f04"
            ]
        ]
    },
    {
        "id": "f8557a2235196ca3",
        "type": "function",
        "z": "943751b830fb2ee3",
        "name": "Store Voltage",
        "func": "const v = msg.payload.value !== undefined ? msg.payload.value : msg.payload;\nflow.set('voltage_v', v);\nnode.status({fill:'blue', text:`Voltage: ${v}V`});\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 60,
        "wires": [
            [
                "411599b9166d6c71"
            ]
        ]
    },
    {
        "id": "8ad516c486e7fce0",
        "type": "function",
        "z": "943751b830fb2ee3",
        "name": "Store Current",
        "func": "const v = msg.payload.value !== undefined ? msg.payload.value : msg.payload;\nflow.set('current_a', v);\nnode.status({fill:'blue', text:`Current: ${v}A`});\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 120,
        "wires": [
            [
                "411599b9166d6c71"
            ]
        ]
    },
    {
        "id": "72ba219feb6377fb",
        "type": "function",
        "z": "943751b830fb2ee3",
        "name": "Store Power",
        "func": "const v = msg.payload.value !== undefined ? msg.payload.value : msg.payload;\nflow.set('power_w', v);\nnode.status({fill:'blue', text:`Power: ${v}W`});\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 180,
        "wires": [
            [
                "411599b9166d6c71"
            ]
        ]
    },
    {
        "id": "5e01c0a447036543",
        "type": "function",
        "z": "943751b830fb2ee3",
        "name": "Store AC Voltage",
        "func": "const v = msg.payload.value !== undefined ? msg.payload.value : msg.payload;\nflow.set('ac_voltage_v', v);\nnode.status({fill:'green', text:`AC Voltage: ${v}V`});\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 240,
        "wires": [
            [
                "411599b9166d6c71"
            ]
        ]
    },
    {
        "id": "960a8f8442335f04",
        "type": "function",
        "z": "943751b830fb2ee3",
        "name": "Store AC Power",
        "func": "const v = msg.payload.value !== undefined ? msg.payload.value : msg.payload;\nflow.set('ac_power_w', v);\nnode.status({fill:'green', text:`AC Power: ${v}W`});\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 300,
        "wires": [
            [
                "411599b9166d6c71"
            ]
        ]
    },
    {
        "id": "411599b9166d6c71",
        "type": "function",
        "z": "943751b830fb2ee3",
        "name": "Publish to MQTT",
        "func": "const voltage = flow.get('voltage_v') || 0;\nconst current = flow.get('current_a') || 0;\nconst power = flow.get('power_w') || 0;\nconst ac_voltage = flow.get('ac_voltage_v') || 0;\nconst ac_current = flow.get('ac_current_a') || 0;\nconst ac_power = flow.get('ac_power_w') || 0;\n\nnode.status({fill:'green', shape:'dot', text:`DC: ${voltage}V ${current}A | AC: ${ac_voltage}V ${ac_power}W`});\n\nconst msg_out = {\n    topic: 'santuario/inverter/venus',\n    payload: JSON.stringify({\n        Voltage: voltage,\n        Current: current,\n        Power: power,\n        AcVoltage: ac_voltage,\n        AcCurrent: ac_current,\n        AcPower: ac_power,\n        State: 'on',\n        Mode: 'inverter'\n    }),\n    retain: true\n};\n\nreturn msg_out;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 180,
        "wires": [
            [
                "6e64ecd339d9d304"
            ]
        ]
    },
    {
        "id": "6e64ecd339d9d304",
        "type": "mqtt out",
        "z": "943751b830fb2ee3",
        "name": "MQTT out",
        "topic": "",
        "qos": "1",
        "retain": true,
        "broker": "28b1f2aa896614e8",
        "x": 750,
        "y": 180,
        "wires": []
    },
    {
        "id": "08c830861bbf25c5",
        "type": "mqtt in",
        "z": "943751b830fb2ee3",
        "name": "Fréquence AC Out",
        "topic": "N/c0619ab9929a/vebus/275/Ac/Out/L1/F",
        "qos": "0",
        "datatype": "json",
        "broker": "victron_mqtt",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 400,
        "wires": [
            [
                "d7be7ae578cd68b0"
            ]
        ]
    },
    {
        "id": "496702a1e5dfe250",
        "type": "debug",
        "z": "943751b830fb2ee3",
        "name": "debug 14",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 400,
        "wires": []
    },
    {
        "id": "4e6f33cb710214a5",
        "type": "mqtt in",
        "z": "943751b830fb2ee3",
        "name": "AC Out Voltage",
        "topic": "N/c0619ab9929a/vebus/275/Ac/Out/L1/V",
        "qos": "0",
        "datatype": "json",
        "broker": "victron_mqtt",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 460,
        "wires": [
            [
                "6b8fbf1c1ec4cd5e"
            ]
        ]
    },
    {
        "id": "b24b76093e24a9ec",
        "type": "debug",
        "z": "943751b830fb2ee3",
        "name": "debug 15",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 460,
        "wires": []
    },
    {
        "id": "143e4274d109e176",
        "type": "mqtt in",
        "z": "943751b830fb2ee3",
        "name": "AC Out Current",
        "topic": "N/c0619ab9929a/vebus/275/Ac/Out/L1/I",
        "qos": "0",
        "datatype": "json",
        "broker": "victron_mqtt",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 520,
        "wires": [
            [
                "0c9f3fc0ba9de96b"
            ]
        ]
    },
    {
        "id": "08cbd932c037177e",
        "type": "debug",
        "z": "943751b830fb2ee3",
        "name": "debug 16",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 520,
        "wires": []
    },
    {
        "id": "b5c1b9f76a41d4f8",
        "type": "mqtt in",
        "z": "943751b830fb2ee3",
        "name": "vebus/275/Energy/InverterToAcOut (kWh)",
        "topic": "N/c0619ab9929a/vebus/275/Energy/InverterToAcOut",
        "qos": "0",
        "datatype": "json",
        "broker": "victron_mqtt",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 220,
        "y": 580,
        "wires": [
            [
                "c7b4a4674b148093"
            ]
        ]
    },
    {
        "id": "764f0b2537bba1e6",
        "type": "debug",
        "z": "943751b830fb2ee3",
        "name": "debug 18",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 580,
        "wires": []
    },
    {
        "id": "15b0fc2711e689cf",
        "type": "comment",
        "z": "943751b830fb2ee3",
        "name": "/Energy/OutToInverter",
        "info": "",
        "x": 940,
        "y": 600,
        "wires": []
    },
    {
        "id": "529f036e72fd4ab7",
        "type": "mqtt in",
        "z": "943751b830fb2ee3",
        "name": "/Energy/OutToInverter (kWh)",
        "topic": "N/c0619ab9929a/vebus/275/Energy/OutToInverter",
        "qos": "0",
        "datatype": "json",
        "broker": "victron_mqtt",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 640,
        "wires": [
            [
                "6e243c0dbe25b963"
            ]
        ]
    },
    {
        "id": "06aa228f33e0b64a",
        "type": "debug",
        "z": "943751b830fb2ee3",
        "name": "debug 19",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 640,
        "wires": []
    },
    {
        "id": "d7be7ae578cd68b0",
        "type": "function",
        "z": "943751b830fb2ee3",
        "name": "function 1",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 400,
        "wires": [
            [
                "496702a1e5dfe250"
            ]
        ]
    },
    {
        "id": "6b8fbf1c1ec4cd5e",
        "type": "function",
        "z": "943751b830fb2ee3",
        "name": "function 2",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 460,
        "wires": [
            [
                "b24b76093e24a9ec"
            ]
        ]
    },
    {
        "id": "0c9f3fc0ba9de96b",
        "type": "function",
        "z": "943751b830fb2ee3",
        "name": "function 3",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 520,
        "wires": [
            [
                "08cbd932c037177e"
            ]
        ]
    },
    {
        "id": "c7b4a4674b148093",
        "type": "function",
        "z": "943751b830fb2ee3",
        "name": "function 4",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 580,
        "wires": [
            [
                "764f0b2537bba1e6"
            ]
        ]
    },
    {
        "id": "6e243c0dbe25b963",
        "type": "function",
        "z": "943751b830fb2ee3",
        "name": "function 5",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 640,
        "wires": [
            [
                "06aa228f33e0b64a"
            ]
        ]
    },
    {
        "id": "b5c15f91b4ca9e80",
        "type": "comment",
        "z": "943751b830fb2ee3",
        "name": "Path À mettre en place",
        "info": "N/c0619ab9929a/vebus/275/Ac/State/IgnoreAcIn1\n\n/Ac/State/IgnoreAcIn1\n\n/State\n0=Off;1=Low Power;\n2=Fault;3=Bulk;\n4=Absorption;5=Float;\n6=Storage;7=Equalize;\n8=Passthru;9=Inverting;1\n0=Power assist;11=Power supply;\n244=Sustain;252=External control\n\n/Energy/AcIn1ToAcOut\n/Ac/ActiveIn/L1/I\n/Ac/ActiveIn/L1/F\n/Ac/ActiveIn/L1/P\n/Ac/ActiveIn/L1/V",
        "x": 620,
        "y": 280,
        "wires": []
    },
    {
        "id": "mqtt_smartshunt_soc",
        "type": "mqtt in",
        "z": "smartshunt_tab",
        "name": "SmartShunt SOC",
        "topic": "N/c0619ab9929a/system/0/Dc/Battery/Soc",
        "qos": "0",
        "datatype": "json",
        "broker": "pi5_mqtt_broker_ss",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 60,
        "wires": [
            [
                "smartshunt_soc_fn"
            ]
        ]
    },
    {
        "id": "mqtt_smartshunt_voltage",
        "type": "mqtt in",
        "z": "smartshunt_tab",
        "name": "SmartShunt Voltage",
        "topic": "N/c0619ab9929a/system/0/Dc/Battery/Voltage",
        "qos": "0",
        "datatype": "json",
        "broker": "pi5_mqtt_broker_ss",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 120,
        "wires": [
            [
                "smartshunt_voltage_fn"
            ]
        ]
    },
    {
        "id": "mqtt_smartshunt_current",
        "type": "mqtt in",
        "z": "smartshunt_tab",
        "name": "SmartShunt Current",
        "topic": "N/c0619ab9929a/system/0/Dc/Battery/Current",
        "qos": "0",
        "datatype": "json",
        "broker": "pi5_mqtt_broker_ss",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 180,
        "wires": [
            [
                "smartshunt_current_fn"
            ]
        ]
    },
    {
        "id": "mqtt_smartshunt_power",
        "type": "mqtt in",
        "z": "smartshunt_tab",
        "name": "SmartShunt Power",
        "topic": "N/c0619ab9929a/system/0/Dc/Battery/Power",
        "qos": "0",
        "datatype": "json",
        "broker": "pi5_mqtt_broker_ss",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 240,
        "wires": [
            [
                "smartshunt_power_fn"
            ]
        ]
    },
    {
        "id": "smartshunt_soc_fn",
        "type": "function",
        "z": "smartshunt_tab",
        "name": "Store SOC",
        "func": "const v = msg.payload.value !== undefined ? msg.payload.value : msg.payload;\nflow.set('soc_percent', v);\nnode.status({fill:'blue', text:`SOC: ${v}%`});\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 60,
        "wires": [
            [
                "smartshunt_aggregate_fn"
            ]
        ]
    },
    {
        "id": "smartshunt_voltage_fn",
        "type": "function",
        "z": "smartshunt_tab",
        "name": "Store Voltage",
        "func": "const v = msg.payload.value !== undefined ? msg.payload.value : msg.payload;\nflow.set('voltage_v', v);\nnode.status({fill:'blue', text:`V: ${v}V`});\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 120,
        "wires": [
            [
                "smartshunt_aggregate_fn"
            ]
        ]
    },
    {
        "id": "smartshunt_current_fn",
        "type": "function",
        "z": "smartshunt_tab",
        "name": "Store Current",
        "func": "const v = msg.payload.value !== undefined ? msg.payload.value : msg.payload;\nflow.set('current_a', v);\nnode.status({fill:'blue', text:`I: ${v}A`});\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 180,
        "wires": [
            [
                "smartshunt_aggregate_fn"
            ]
        ]
    },
    {
        "id": "smartshunt_power_fn",
        "type": "function",
        "z": "smartshunt_tab",
        "name": "Store Power",
        "func": "const v = msg.payload.value !== undefined ? msg.payload.value : msg.payload;\nflow.set('power_w', v);\nnode.status({fill:'blue', text:`P: ${v}W`});\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 240,
        "wires": [
            [
                "smartshunt_aggregate_fn"
            ]
        ]
    },
    {
        "id": "smartshunt_aggregate_fn",
        "type": "function",
        "z": "smartshunt_tab",
        "name": "Publish to MQTT",
        "func": "const soc      = flow.get('soc_percent') || 0;\nconst voltage  = flow.get('voltage_v')   || 0;\nconst current  = flow.get('current_a')   || 0;\nconst power    = flow.get('power_w')     || 0;\n\nnode.status({fill:'green', shape:'dot', text:`${soc}% | ${voltage}V | ${current}A | ${power}W`});\n\nconst msg_out = {\n    topic: 'santuario/system/venus',\n    payload: JSON.stringify({\n        Soc: soc,\n        Voltage: voltage,\n        Current: current,\n        Power: power\n    }),\n    retain: true\n};\n\nreturn msg_out;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 150,
        "wires": [
            [
                "smartshunt_mqtt_out"
            ]
        ]
    },
    {
        "id": "smartshunt_mqtt_out",
        "type": "mqtt out",
        "z": "smartshunt_tab",
        "name": "MQTT out",
        "topic": "",
        "qos": "1",
        "retain": true,
        "broker": "pi5_mqtt_broker_ss",
        "x": 750,
        "y": 150,
        "wires": []
    },
    {
        "id": "efa3778e1d50a581",
        "type": "mqtt in",
        "z": "smartshunt_tab",
        "name": "N/c0619ab9929a/vebus/274/Dc/0/Power",
        "topic": "N/c0619ab9929a/vebus/274/Dc/0/Power",
        "qos": "0",
        "datatype": "json",
        "broker": "pi5_mqtt_broker_ss",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 220,
        "y": 320,
        "wires": [
            [
                "103e787fa221ca77"
            ]
        ]
    },
    {
        "id": "103e787fa221ca77",
        "type": "debug",
        "z": "smartshunt_tab",
        "name": "debug 17",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 320,
        "wires": []
    },
    {
        "id": "f5dab144268195f6",
        "type": "mqtt in",
        "z": "smartshunt_tab",
        "name": "N/c0619ab9929a/vebus/274/Dc/0/Voltage",
        "topic": "N/c0619ab9929a/vebus/274/Dc/0/Voltage",
        "qos": "0",
        "datatype": "json",
        "broker": "pi5_mqtt_broker_ss",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 220,
        "y": 400,
        "wires": [
            [
                "e83f92fbcddfe299"
            ]
        ]
    },
    {
        "id": "e83f92fbcddfe299",
        "type": "debug",
        "z": "smartshunt_tab",
        "name": "debug 20",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 400,
        "wires": []
    },
    {
        "id": "a076aa6c2a1ca328",
        "type": "mqtt in",
        "z": "smartshunt_tab",
        "name": "N/c0619ab9929a/vebus/274/Dc/0/Current",
        "topic": "N/c0619ab9929a/vebus/274/Dc/0/Current",
        "qos": "0",
        "datatype": "json",
        "broker": "pi5_mqtt_broker_ss",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 220,
        "y": 480,
        "wires": [
            [
                "e897083eb7251732"
            ]
        ]
    },
    {
        "id": "e897083eb7251732",
        "type": "debug",
        "z": "smartshunt_tab",
        "name": "debug 21",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 480,
        "wires": []
    },
    {
        "id": "inject-on",
        "type": "inject",
        "z": "d5ab0c6e1ef8eb03",
        "name": "ON",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "payload": "ON",
        "payloadType": "str",
        "x": 110,
        "y": 60,
        "wires": [
            [
                "mqtt-cmd-power"
            ]
        ]
    },
    {
        "id": "inject-off",
        "type": "inject",
        "z": "d5ab0c6e1ef8eb03",
        "name": "OFF",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "payload": "OFF",
        "payloadType": "str",
        "x": 110,
        "y": 100,
        "wires": [
            [
                "mqtt-cmd-power"
            ]
        ]
    },
    {
        "id": "inject-toggle",
        "type": "inject",
        "z": "d5ab0c6e1ef8eb03",
        "name": "TOGGLE",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "payload": "TOGGLE",
        "payloadType": "str",
        "x": 120,
        "y": 140,
        "wires": [
            [
                "mqtt-cmd-power"
            ]
        ]
    },
    {
        "id": "inject-status",
        "type": "inject",
        "z": "d5ab0c6e1ef8eb03",
        "name": "Lire état",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "2",
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 120,
        "y": 180,
        "wires": [
            [
                "mqtt-cmd-power"
            ]
        ]
    },
    {
        "id": "mqtt-cmd-power",
        "type": "mqtt out",
        "z": "d5ab0c6e1ef8eb03",
        "name": "cmnd/tongou_3BC764/Power",
        "topic": "cmnd/tongou_3BC764/Power",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "tasmota-broker",
        "x": 360,
        "y": 100,
        "wires": []
    },
    {
        "id": "mqtt-stat-power",
        "type": "mqtt in",
        "z": "d5ab0c6e1ef8eb03",
        "name": "stat/tongou_3BC764/POWER",
        "topic": "stat/tongou_3BC764/POWER",
        "qos": "0",
        "datatype": "auto",
        "broker": "tasmota-broker",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 220,
        "wires": [
            [
                "fn-etat-power",
                "debug-power"
            ]
        ]
    },
    {
        "id": "fn-etat-power",
        "type": "function",
        "z": "d5ab0c6e1ef8eb03",
        "name": "État → global",
        "func": "const etat = msg.payload;\nconst on = (etat === 'ON');\nflow.set('tongou_sy2_state', on);\nnode.status({fill: on ? 'green' : 'grey', shape: 'dot', text: etat});\nmsg.payload = on;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 220,
        "wires": [
            [
                "debug-state"
            ]
        ]
    },
    {
        "id": "debug-power",
        "type": "debug",
        "z": "d5ab0c6e1ef8eb03",
        "name": "POWER état",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 410,
        "y": 280,
        "wires": []
    },
    {
        "id": "debug-state",
        "type": "debug",
        "z": "d5ab0c6e1ef8eb03",
        "name": "État bool",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 160,
        "wires": []
    },
    {
        "id": "mqtt-tele-sensor",
        "type": "mqtt in",
        "z": "d5ab0c6e1ef8eb03",
        "name": "tele/tongou_3BC764/SENSOR",
        "topic": "tele/tongou_3BC764/SENSOR",
        "qos": "0",
        "datatype": "json",
        "broker": "tasmota-broker",
        "nl": false,
        "rap": false,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 340,
        "wires": [
            [
                "fn-sensor",
                "debug-sensor"
            ]
        ]
    },
    {
        "id": "fn-sensor",
        "type": "function",
        "z": "d5ab0c6e1ef8eb03",
        "name": "Énergie → globals",
        "func": "const d = msg.payload;\nif (d && d.ENERGY) {\n    const e = d.ENERGY;\n    flow.set('tongou_sy2_power_w',   e.Power   || 0);\n    flow.set('tongou_sy2_voltage_v', e.Voltage || 0);\n    flow.set('tongou_sy2_current_a', e.Current || 0);\n    flow.set('tongou_sy2_today_kwh', e.Today   || 0);\n    flow.set('tongou_sy2_total_kwh', e.Total   || 0);\n    node.status({fill:'blue', shape:'dot',\n        text: `${e.Power}W  ${e.Voltage}V  ${e.Current}A`});\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "debug-sensor",
        "type": "debug",
        "z": "d5ab0c6e1ef8eb03",
        "name": "Télémétrie",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 190,
        "y": 280,
        "wires": []
    },
    {
        "id": "mqtt-tele-state",
        "type": "mqtt in",
        "z": "d5ab0c6e1ef8eb03",
        "name": "tele/tongou_3BC764/STATE",
        "topic": "tele/tongou_3BC764/STATE",
        "qos": "0",
        "datatype": "json",
        "broker": "tasmota-broker",
        "nl": false,
        "rap": false,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 400,
        "wires": [
            [
                "debug-tele-state"
            ]
        ]
    },
    {
        "id": "debug-tele-state",
        "type": "debug",
        "z": "d5ab0c6e1ef8eb03",
        "name": "STATE complet",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 400,
        "wires": []
    },
    {
        "id": "03a1e38f1be6bd3f",
        "type": "comment",
        "z": "d5ab0c6e1ef8eb03",
        "name": "tongou_3BC764 Chauffe-eau",
        "info": "",
        "x": 360,
        "y": 40,
        "wires": []
    }
]