flux-nodered/inverter.json
[
    {
        "id": "inverter_tab",
        "type": "tab",
        "label": "Inverter/Charger → santuario/inverter/venus",
        "disabled": false,
        "info": "Victron MultiPlus / CGWACS données → MQTT\nPublie sur santuario/inverter/venus pour daly-bms-server"
    },
    {
        "id": "mqtt_inverter_voltage",
        "type": "mqtt in",
        "z": "inverter_tab",
        "name": "Inverter DC Voltage",
        "topic": "N/c0619ab9929a/vebus/275/Dc/0/Voltage",
        "qos": "0",
        "datatype": "json",
        "broker": "pi5_mqtt_broker_inv",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 60,
        "wires": [
            [
                "inverter_voltage_fn"
            ]
        ]
    },
    {
        "id": "mqtt_inverter_current",
        "type": "mqtt in",
        "z": "inverter_tab",
        "name": "Inverter DC Current",
        "topic": "N/c0619ab9929a/vebus/275/Dc/0/Current",
        "qos": "0",
        "datatype": "json",
        "broker": "pi5_mqtt_broker_inv",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 120,
        "wires": [
            [
                "inverter_current_fn"
            ]
        ]
    },
    {
        "id": "mqtt_inverter_power",
        "type": "mqtt in",
        "z": "inverter_tab",
        "name": "Inverter DC Power",
        "topic": "N/c0619ab9929a/vebus/275/Dc/0/Power",
        "qos": "0",
        "datatype": "json",
        "broker": "pi5_mqtt_broker_inv",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 180,
        "wires": [
            [
                "inverter_power_fn"
            ]
        ]
    },
    {
        "id": "mqtt_inverter_ac_voltage",
        "type": "mqtt in",
        "z": "inverter_tab",
        "name": "Inverter AC L1 Voltage",
        "topic": "N/c0619ab9929a/vebus/275/Ac/Out/L1/V",
        "qos": "0",
        "datatype": "json",
        "broker": "pi5_mqtt_broker_inv",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 240,
        "wires": [
            [
                "inverter_ac_voltage_fn"
            ]
        ]
    },
    {
        "id": "mqtt_inverter_ac_power",
        "type": "mqtt in",
        "z": "inverter_tab",
        "name": "Inverter AC Output Power",
        "topic": "N/c0619ab9929a/system/0/Ac/ConsumptionOnOutput/L1/Power",
        "qos": "0",
        "datatype": "json",
        "broker": "pi5_mqtt_broker_inv",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 300,
        "wires": [
            [
                "inverter_ac_power_fn"
            ]
        ]
    },
    {
        "id": "inverter_voltage_fn",
        "type": "function",
        "z": "inverter_tab",
        "name": "Store Voltage",
        "func": "const v = msg.payload.value !== undefined ? msg.payload.value : msg.payload;\nflow.set('voltage_v', v);\nnode.status({fill:'blue', text:`Voltage: ${v}V`});\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 60,
        "wires": [
            [
                "inverter_aggregate_fn"
            ]
        ]
    },
    {
        "id": "inverter_current_fn",
        "type": "function",
        "z": "inverter_tab",
        "name": "Store Current",
        "func": "const v = msg.payload.value !== undefined ? msg.payload.value : msg.payload;\nflow.set('current_a', v);\nnode.status({fill:'blue', text:`Current: ${v}A`});\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 120,
        "wires": [
            [
                "inverter_aggregate_fn"
            ]
        ]
    },
    {
        "id": "inverter_power_fn",
        "type": "function",
        "z": "inverter_tab",
        "name": "Store Power",
        "func": "const v = msg.payload.value !== undefined ? msg.payload.value : msg.payload;\nflow.set('power_w', v);\nnode.status({fill:'blue', text:`Power: ${v}W`});\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 180,
        "wires": [
            [
                "inverter_aggregate_fn"
            ]
        ]
    },
    {
        "id": "inverter_ac_voltage_fn",
        "type": "function",
        "z": "inverter_tab",
        "name": "Store AC Voltage",
        "func": "const v = msg.payload.value !== undefined ? msg.payload.value : msg.payload;\nflow.set('ac_voltage_v', v);\nnode.status({fill:'green', text:`AC Voltage: ${v}V`});\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 240,
        "wires": [
            [
                "inverter_aggregate_fn"
            ]
        ]
    },
    {
        "id": "inverter_ac_power_fn",
        "type": "function",
        "z": "inverter_tab",
        "name": "Store AC Power",
        "func": "const v = msg.payload.value !== undefined ? msg.payload.value : msg.payload;\nflow.set('ac_power_w', v);\nnode.status({fill:'green', text:`AC Power: ${v}W`});\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 300,
        "wires": [
            [
                "inverter_aggregate_fn"
            ]
        ]
    },
    {
        "id": "inverter_aggregate_fn",
        "type": "function",
        "z": "inverter_tab",
        "name": "Publish to MQTT",
        "func": "const voltage = flow.get('voltage_v') || 0;\nconst current = flow.get('current_a') || 0;\nconst power = flow.get('power_w') || 0;\nconst ac_voltage = flow.get('ac_voltage_v') || 0;\nconst ac_current = flow.get('ac_current_a') || 0;\nconst ac_power = flow.get('ac_power_w') || 0;\n\nnode.status({fill:'green', shape:'dot', text:`DC: ${voltage}V ${current}A | AC: ${ac_voltage}V ${ac_power}W`});\n\nconst msg_out = {\n    topic: 'santuario/inverter/venus',\n    payload: JSON.stringify({\n        Voltage: voltage,\n        Current: current,\n        Power: power,\n        AcVoltage: ac_voltage,\n        AcCurrent: ac_current,\n        AcPower: ac_power,\n        State: 'on',\n        Mode: 'inverter'\n    }),\n    retain: true\n};\n\nreturn msg_out;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 180,
        "wires": [
            [
                "inverter_mqtt_out"
            ]
        ]
    },
    {
        "id": "inverter_mqtt_out",
        "type": "mqtt out",
        "z": "inverter_tab",
        "name": "MQTT out",
        "topic": "",
        "qos": "1",
        "retain": true,
        "broker": "pi5_mqtt_broker_inv",
        "x": 750,
        "y": 180,
        "wires": []
    },
    {
        "id": "6f9bf2ea72d090ae",
        "type": "mqtt in",
        "z": "inverter_tab",
        "name": "Fréquence AC Out",
        "topic": "N/c0619ab9929a/vebus/275/Ac/Out/L1/F",
        "qos": "0",
        "datatype": "json",
        "broker": "victron_mqtt",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 400,
        "wires": [
            [
                "e0ecdf7fb3721a3f"
            ]
        ]
    },
    {
        "id": "24f8a2746f85004a",
        "type": "debug",
        "z": "inverter_tab",
        "name": "debug 14",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 400,
        "wires": []
    },
    {
        "id": "869a8ac3fdc7bcf0",
        "type": "mqtt in",
        "z": "inverter_tab",
        "name": "AC Out Voltage",
        "topic": "N/c0619ab9929a/vebus/275/Ac/Out/L1/V",
        "qos": "0",
        "datatype": "json",
        "broker": "victron_mqtt",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 460,
        "wires": [
            [
                "a21cd363fdef67d8"
            ]
        ]
    },
    {
        "id": "66f1ba60993d547b",
        "type": "debug",
        "z": "inverter_tab",
        "name": "debug 15",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 460,
        "wires": []
    },
    {
        "id": "04c8dba9c5d408a3",
        "type": "mqtt in",
        "z": "inverter_tab",
        "name": "AC Out Current",
        "topic": "N/c0619ab9929a/vebus/275/Ac/Out/L1/I",
        "qos": "0",
        "datatype": "json",
        "broker": "victron_mqtt",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 520,
        "wires": [
            [
                "e19e5b659f45fd8e"
            ]
        ]
    },
    {
        "id": "60318245fa170fea",
        "type": "debug",
        "z": "inverter_tab",
        "name": "debug 16",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 520,
        "wires": []
    },
    {
        "id": "147b989fc33bb998",
        "type": "mqtt in",
        "z": "inverter_tab",
        "name": "vebus/275/Energy/InverterToAcOut (kWh)",
        "topic": "N/c0619ab9929a/vebus/275/Energy/InverterToAcOut",
        "qos": "0",
        "datatype": "json",
        "broker": "victron_mqtt",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 220,
        "y": 580,
        "wires": [
            [
                "1c55a586e1219fe5"
            ]
        ]
    },
    {
        "id": "9a6ad1f71a8de3b2",
        "type": "debug",
        "z": "inverter_tab",
        "name": "debug 18",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 580,
        "wires": []
    },
    {
        "id": "5ab163c5f9381fb1",
        "type": "comment",
        "z": "inverter_tab",
        "name": "/Energy/OutToInverter",
        "info": "",
        "x": 940,
        "y": 600,
        "wires": []
    },
    {
        "id": "30d80f7da3b89c60",
        "type": "mqtt in",
        "z": "inverter_tab",
        "name": "/Energy/OutToInverter (kWh)",
        "topic": "N/c0619ab9929a/vebus/275/Energy/OutToInverter",
        "qos": "0",
        "datatype": "json",
        "broker": "victron_mqtt",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 640,
        "wires": [
            [
                "63bd4041c9543d4c"
            ]
        ]
    },
    {
        "id": "160b948d3e2bef5e",
        "type": "debug",
        "z": "inverter_tab",
        "name": "debug 19",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 640,
        "wires": []
    },
    {
        "id": "e0ecdf7fb3721a3f",
        "type": "function",
        "z": "inverter_tab",
        "name": "function 1",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 400,
        "wires": [
            [
                "24f8a2746f85004a"
            ]
        ]
    },
    {
        "id": "a21cd363fdef67d8",
        "type": "function",
        "z": "inverter_tab",
        "name": "function 2",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 460,
        "wires": [
            [
                "66f1ba60993d547b"
            ]
        ]
    },
    {
        "id": "e19e5b659f45fd8e",
        "type": "function",
        "z": "inverter_tab",
        "name": "function 3",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 520,
        "wires": [
            [
                "60318245fa170fea"
            ]
        ]
    },
    {
        "id": "1c55a586e1219fe5",
        "type": "function",
        "z": "inverter_tab",
        "name": "function 4",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 580,
        "wires": [
            [
                "9a6ad1f71a8de3b2"
            ]
        ]
    },
    {
        "id": "63bd4041c9543d4c",
        "type": "function",
        "z": "inverter_tab",
        "name": "function 5",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 640,
        "wires": [
            [
                "160b948d3e2bef5e"
            ]
        ]
    },
    {
        "id": "pi5_mqtt_broker_inv",
        "type": "mqtt-broker",
        "name": "Pi5 MQTT",
        "broker": "dalybms-mosquitto",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "victron_mqtt",
        "type": "mqtt-broker",
        "name": "Pi5 MQTT",
        "broker": "dalybms-mosquitto",
        "port": "1883",
        "clientid": "nodered_shelly",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    }
]