flux-nodered/power.json
[
    {
        "id": "mqtt-broker-cerbo",
        "type": "mqtt-broker",
        "name": "Cerbo GX Santuario",
        "broker": "192.168.1.120",
        "port": "1883",
        "clientid": "nodered-santuario",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "mqtt-mppt-day",
        "type": "mqtt in",
        "z": "flow",
        "name": "📊 MPPT - kWh du jour",
        "topic": "N/A/solarcharger/+/Yield/Power/User",
        "qos": "0",
        "datatype": "auto",
        "broker": "mqtt-broker-cerbo",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 280,
        "y": 120,
        "wires": [["aggregate-solar-local"]]
    },
    {
        "id": "mqtt-micro-day",
        "type": "mqtt in",
        "z": "flow",
        "name": "🔌 Micro-onduleurs - kWh du jour",
        "topic": "N/A/pvinverter/+/Ac/Energy/Forward/Day",
        "qos": "0",
        "datatype": "auto",
        "broker": "mqtt-broker-cerbo",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 280,
        "y": 180,
        "wires": [["aggregate-solar-local"]]
    },
    {
        "id": "aggregate-solar-local",
        "type": "function",
        "z": "flow",
        "name": "🧮 Somme MPPT + Micros",
        "func": "const currentValue = parseFloat(msg.payload) || 0;\nconst topic = msg.topic;\n\nlet mpptTotal = flow.get(\"mppt_total\") || 0;\nlet microTotal = flow.get(\"micro_total\") || 0;\n\nif (topic.includes(\"solarcharger\")) {\n    mpptTotal = currentValue;\n    flow.set(\"mppt_total\", mpptTotal);\n    node.status({fill:\"green\",shape:\"dot\",text:`MPPT: ${mpptTotal.toFixed(2)} kWh`});\n} else if (topic.includes(\"pvinverter\")) {\n    microTotal = currentValue;\n    flow.set(\"micro_total\", microTotal);\n}\n\nconst totalKwh = mpptTotal + microTotal;\n\nmsg.payload = {\n    mppt_kwh: parseFloat(mpptTotal.toFixed(3)),\n    micros_kwh: parseFloat(microTotal.toFixed(3)),\n    total_solar_kwh: parseFloat(totalKwh.toFixed(3)),\n    total_solar_wh: Math.round(totalKwh * 1000),\n    timestamp: new Date().toISOString(),\n    epoch_ms: Date.now()\n};\n\n// Stocker pour autres usages\nflow.set(\"total_solar_kwh\", totalKwh);\nflow.set(\"total_solar_wh\", Math.round(totalKwh * 1000));\n\nreturn msg;",
        "outputs": 1,
        "x": 520,
        "y": 150,
        "wires": [["debug-local", "dashboard-local", "influx-storage"]]
    },
    {
        "id": "debug-local",
        "type": "debug",
        "z": "flow",
        "name": "🐛 Debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 680,
        "y": 80,
        "wires": []
    },
    {
        "id": "dashboard-local",
        "type": "ui_text",
        "z": "flow",
        "group": "solar-group-mqtt",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "Total solaire",
        "label": "🌞 Production totale aujourd'hui",
        "format": "{{msg.payload.total_solar_kwh}} kWh",
        "layout": "row-spread",
        "className": "",
        "x": 680,
        "y": 130,
        "wires": []
    },
    {
        "id": "dashboard-detail",
        "type": "ui_text",
        "z": "flow",
        "group": "solar-group-mqtt",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Détail",
        "label": "📊 MPPT: {{msg.payload.mppt_kwh}} kWh  |  🔌 Micros: {{msg.payload.micros_kwh}} kWh",
        "format": "{{msg.payload.mppt_kwh}}",
        "layout": "row-spread",
        "className": "",
        "x": 680,
        "y": 180,
        "wires": []
    },
    {
        "id": "influx-storage",
        "type": "influxdb out",
        "z": "flow",
        "name": "Stockage InfluxDB",
        "influxdb": "influxdb-config",
        "precision": "ms",
        "retention": "",
        "measurement": "solar_production",
        "tags": "installation=santuario",
        "field": "total_kwh,mppt_kwh,micros_kwh",
        "tags2": "",
        "tags2_type": "msg",
        "tags2_value": "",
        "x": 680,
        "y": 230,
        "wires": []
    },
    {
        "id": "solar-group-mqtt",
        "type": "ui_group",
        "name": "🏠 Santuario - Production solaire",
        "tab": "solar-tab-mqtt",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "solar-tab-mqtt",
        "type": "ui_tab",
        "name": "Solaire",
        "icon": "solar-panel",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "influxdb-config",
        "type": "influxdb",
        "hostname": "localhost",
        "port": "8086",
        "protocol": "http",
        "database": "victron",
        "name": "",
        "usetls": false,
        "tls": false
    }
]
