flux-nodered/smartshunt.json
[
    {
        "id": "895c03a33f755f50",
        "type": "tab",
        "label": "SmartShunt → santuario/system/venus",
        "disabled": false,
        "info": "SmartShunt 500A → D-Bus NanoPi → MQTT → Pi5 daly-bms-server\nPublie à santuario/system/venus avec format attendu par le serveur",
        "env": []
    },
    {
        "id": "98114823a6b062ed",
        "type": "mqtt in",
        "z": "895c03a33f755f50",
        "name": "SmartShunt SOC",
        "topic": "N/c0619ab9929a/system/0/Dc/Battery/Soc",
        "qos": "0",
        "datatype": "json",
        "broker": "pi5_mqtt_broker_ss",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 40,
        "wires": [
            [
                "73d607d43ade2cab"
            ]
        ]
    },
    {
        "id": "46da45f99759a25f",
        "type": "mqtt in",
        "z": "895c03a33f755f50",
        "name": "SmartShunt Voltage",
        "topic": "N/c0619ab9929a/system/0/Dc/Battery/Voltage",
        "qos": "0",
        "datatype": "json",
        "broker": "pi5_mqtt_broker_ss",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 100,
        "wires": [
            [
                "4fd1692c57a95b8b"
            ]
        ]
    },
    {
        "id": "d1b1ccaffc018f77",
        "type": "mqtt in",
        "z": "895c03a33f755f50",
        "name": "SmartShunt Current",
        "topic": "N/c0619ab9929a/system/0/Dc/Battery/Current",
        "qos": "0",
        "datatype": "json",
        "broker": "pi5_mqtt_broker_ss",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 160,
        "wires": [
            [
                "a02013e7c99ff2c2"
            ]
        ]
    },
    {
        "id": "1e8e484c8865b5e3",
        "type": "mqtt in",
        "z": "895c03a33f755f50",
        "name": "SmartShunt Power",
        "topic": "N/c0619ab9929a/system/0/Dc/Battery/Power",
        "qos": "0",
        "datatype": "json",
        "broker": "pi5_mqtt_broker_ss",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 280,
        "wires": [
            [
                "1fb4552a2235a5fe"
            ]
        ]
    },
    {
        "id": "73d607d43ade2cab",
        "type": "function",
        "z": "895c03a33f755f50",
        "name": "Store SOC",
        "func": "const v = msg.payload.value !== undefined ? msg.payload.value : msg.payload;\nflow.set('soc_percent', v);\nnode.status({fill:'blue', text:`SOC: ${v}%`});\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 40,
        "wires": [
            [
                "9efbe31dec40fcc0"
            ]
        ]
    },
    {
        "id": "4fd1692c57a95b8b",
        "type": "function",
        "z": "895c03a33f755f50",
        "name": "Store Voltage",
        "func": "const v = msg.payload.value !== undefined ? msg.payload.value : msg.payload;\nflow.set('voltage_v', v);\nnode.status({fill:'blue', text:`V: ${v}V`});\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 100,
        "wires": [
            [
                "9efbe31dec40fcc0"
            ]
        ]
    },
    {
        "id": "a02013e7c99ff2c2",
        "type": "function",
        "z": "895c03a33f755f50",
        "name": "Store Current",
        "func": "const v = msg.payload.value !== undefined ? msg.payload.value : msg.payload;\nflow.set('current_a', v);\nnode.status({fill:'blue', text:`I: ${v}A`});\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 160,
        "wires": [
            [
                "9efbe31dec40fcc0"
            ]
        ]
    },
    {
        "id": "1fb4552a2235a5fe",
        "type": "function",
        "z": "895c03a33f755f50",
        "name": "Store Power",
        "func": "const v = msg.payload.value !== undefined ? msg.payload.value : msg.payload;\nflow.set('power_w', v);\nnode.status({fill:'blue', text:`P: ${v}W`});\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 280,
        "wires": [
            [
                "9efbe31dec40fcc0"
            ]
        ]
    },
    {
        "id": "9efbe31dec40fcc0",
        "type": "function",
        "z": "895c03a33f755f50",
        "name": "Publish to MQTT",
        "func": "const soc       = flow.get('soc_percent')  || 0;\nconst voltage   = flow.get('voltage_v')    || 0;\nconst current   = flow.get('current_a')    || 0;\nconst power     = flow.get('power_w')      || 0;\nconst state_raw = flow.get('battery_state');\nconst ttg_s     = flow.get('time_to_go_s');\n\nnode.status({fill:'green', shape:'dot', text:`${soc}% | ${voltage}V | ${current}A`});\n\nconst msg_out = {\n    topic: 'santuario/system/venus',\n    payload: JSON.stringify({\n        Soc:      soc,\n        Voltage:  voltage,\n        Current:  current,\n        Power:    power,\n        State:    state_raw !== undefined ? state_raw : undefined,\n        TimeToGo: ttg_s     !== undefined ? ttg_s     : undefined\n    }),\n    retain: true\n};\n\nreturn msg_out;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 160,
        "wires": [
            [
                "035f8b6e0fcb2cc4"
            ]
        ]
    },
    {
        "id": "035f8b6e0fcb2cc4",
        "type": "mqtt out",
        "z": "895c03a33f755f50",
        "name": "MQTT out",
        "topic": "",
        "qos": "1",
        "retain": true,
        "broker": "pi5_mqtt_broker_ss",
        "x": 680,
        "y": 80,
        "wires": []
    },
    {
        "id": "d7aa1e419a7627d2",
        "type": "mqtt in",
        "z": "895c03a33f755f50",
        "name": "N/c0619ab9929a/vebus/274/Dc/0/Power",
        "topic": "N/c0619ab9929a/vebus/274/Dc/0/Power",
        "qos": "0",
        "datatype": "json",
        "broker": "pi5_mqtt_broker_ss",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 200,
        "y": 480,
        "wires": [
            [
                "bf571d9ec4636d99"
            ]
        ]
    },
    {
        "id": "bf571d9ec4636d99",
        "type": "debug",
        "z": "895c03a33f755f50",
        "name": "debug 17",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 480,
        "wires": []
    },
    {
        "id": "0a59bf94e4442ddf",
        "type": "mqtt in",
        "z": "895c03a33f755f50",
        "name": "N/c0619ab9929a/vebus/274/Dc/0/Voltage",
        "topic": "N/c0619ab9929a/vebus/274/Dc/0/Voltage",
        "qos": "0",
        "datatype": "json",
        "broker": "pi5_mqtt_broker_ss",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 200,
        "y": 540,
        "wires": [
            [
                "1550b93d472c833a"
            ]
        ]
    },
    {
        "id": "1550b93d472c833a",
        "type": "debug",
        "z": "895c03a33f755f50",
        "name": "debug 20",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 540,
        "wires": []
    },
    {
        "id": "ec3c776b1c08a989",
        "type": "mqtt in",
        "z": "895c03a33f755f50",
        "name": "N/c0619ab9929a/vebus/274/Dc/0/Current",
        "topic": "N/c0619ab9929a/vebus/274/Dc/0/Current",
        "qos": "0",
        "datatype": "json",
        "broker": "pi5_mqtt_broker_ss",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 200,
        "y": 600,
        "wires": [
            [
                "128ca2ef323d86ce"
            ]
        ]
    },
    {
        "id": "128ca2ef323d86ce",
        "type": "debug",
        "z": "895c03a33f755f50",
        "name": "debug 21",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 600,
        "wires": []
    },
    {
        "id": "54fed38cda5c561d",
        "type": "mqtt in",
        "z": "895c03a33f755f50",
        "name": "SmartShunt State",
        "topic": "N/c0619ab9929a/system/0/Dc/Battery/State",
        "qos": "0",
        "datatype": "json",
        "broker": "pi5_mqtt_broker_ss",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 220,
        "wires": [
            [
                "dd682dddcfe3a04b"
            ]
        ]
    },
    {
        "id": "8377fe3050f061d3",
        "type": "mqtt in",
        "z": "895c03a33f755f50",
        "name": "SmartShunt TimeToGo",
        "topic": "N/c0619ab9929a/system/0/Dc/Battery/TimeToGo",
        "qos": "0",
        "datatype": "json",
        "broker": "pi5_mqtt_broker_ss",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 340,
        "wires": [
            [
                "999e077ab3bd5dd7",
                "e3975899599d0f82"
            ]
        ]
    },
    {
        "id": "dd682dddcfe3a04b",
        "type": "function",
        "z": "895c03a33f755f50",
        "name": "Store State",
        "func": "const v = msg.payload.value !== undefined ? msg.payload.value : msg.payload;\nflow.set('battery_state', v);\nnode.status({fill:'blue', text:`State: ${v}`});\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 220,
        "wires": [
            [
                "9efbe31dec40fcc0"
            ]
        ]
    },
    {
        "id": "999e077ab3bd5dd7",
        "type": "function",
        "z": "895c03a33f755f50",
        "name": "Store TimeToGo",
        "func": "const v = msg.payload.value !== undefined ? msg.payload.value : msg.payload;\nflow.set('time_to_go_s', v);\nnode.status({fill:'blue', text:`TTG: ${Math.round(v/60)}min`});\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 340,
        "wires": [
            [
                "9efbe31dec40fcc0"
            ]
        ]
    },
    {
        "id": "54be9c5d9c064e66",
        "type": "mqtt in",
        "z": "895c03a33f755f50",
        "name": "",
        "topic": "N/c0619ab9929a/battery/274/#",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "broker_nanopi_venus",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 680,
        "wires": [
            [
                "d702b861d87a8771"
            ]
        ]
    },
    {
        "id": "e3975899599d0f82",
        "type": "debug",
        "z": "895c03a33f755f50",
        "name": "debug 22",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 360,
        "y": 400,
        "wires": []
    },
    {
        "id": "d702b861d87a8771",
        "type": "debug",
        "z": "895c03a33f755f50",
        "name": "debug 23",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 680,
        "wires": []
    },
    {
        "id": "a69972aeea043eae",
        "type": "comment",
        "z": "895c03a33f755f50",
        "name": "system    /Dc/Battery/ConsumedAmphours",
        "info": "/Dc/Battery/ConsumedAmphours",
        "x": 740,
        "y": 260,
        "wires": []
    },
    {
        "id": "0c7d79aead5c66ef",
        "type": "mqtt in",
        "z": "895c03a33f755f50",
        "name": "",
        "topic": "N/c0619ab9929a/battery/274/History/ChargedEnergy",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "broker_nanopi_venus",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 210,
        "y": 740,
        "wires": [
            [
                "0ff6e9497f2c39fa"
            ]
        ]
    },
    {
        "id": "0ff6e9497f2c39fa",
        "type": "debug",
        "z": "895c03a33f755f50",
        "name": "debug 24",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 380,
        "y": 800,
        "wires": []
    },
    {
        "id": "a23004d7cd816c5c",
        "type": "comment",
        "z": "895c03a33f755f50",
        "name": "N/c0619ab9929a/battery/151/ConsumedAmphours ",
        "info": "",
        "x": 770,
        "y": 300,
        "wires": []
    },
    {
        "id": "3d38f7add528a987",
        "type": "comment",
        "z": "895c03a33f755f50",
        "name": "N/c0619ab9929a/battery/151/TimeToGo",
        "info": "",
        "x": 730,
        "y": 340,
        "wires": []
    },
    {
        "id": "acf891fc221ef68d",
        "type": "comment",
        "z": "895c03a33f755f50",
        "name": "N/c0619ab9929a/battery/151/Capacity",
        "info": "",
        "x": 730,
        "y": 380,
        "wires": []
    },
    {
        "id": "fb84e8f8c56b17a1",
        "type": "comment",
        "z": "895c03a33f755f50",
        "name": "N/c0619ab9929a/battery/274/History/ChargedEnergy ",
        "info": "",
        "x": 770,
        "y": 420,
        "wires": []
    },
    {
        "id": "0f33201df6922a8e",
        "type": "comment",
        "z": "895c03a33f755f50",
        "name": "N/c0619ab9929a/battery/274/ConsumedAmphours",
        "info": "",
        "x": 770,
        "y": 460,
        "wires": []
    },
    {
        "id": "b30644d0b3bcca80",
        "type": "comment",
        "z": "895c03a33f755f50",
        "name": "N/c0619ab9929a/battery/274/History/DischargedEnergy",
        "info": "",
        "x": 780,
        "y": 500,
        "wires": []
    },
    {
        "id": "32419ea3c4a0bea3",
        "type": "comment",
        "z": "895c03a33f755f50",
        "name": "N/c0619ab9929a/battery/274/History/AverageDischarge",
        "info": "",
        "x": 780,
        "y": 540,
        "wires": []
    },
    {
        "id": "1e4f956fcf95d001",
        "type": "comment",
        "z": "895c03a33f755f50",
        "name": "N/c0619ab9929a/battery/274/History/LastDischarge",
        "info": "",
        "x": 770,
        "y": 580,
        "wires": []
    },
    {
        "id": "c317c71c5771dd50",
        "type": "comment",
        "z": "895c03a33f755f50",
        "name": "N/c0619ab9929a/battery/274/History/TotalAhDrawn",
        "info": "",
        "x": 770,
        "y": 620,
        "wires": []
    },
    {
        "id": "0cab8e3e5fc2a264",
        "type": "comment",
        "z": "895c03a33f755f50",
        "name": "N/c0619ab9929a/battery/274/History/DeepestDischarge",
        "info": "",
        "x": 780,
        "y": 660,
        "wires": []
    },
    {
        "id": "pi5_mqtt_broker_ss",
        "type": "mqtt-broker",
        "name": "Pi5 MQTT",
        "broker": "dalybms-mosquitto",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "broker_nanopi_venus",
        "type": "mqtt-broker",
        "name": "NanoPi 192.168.1.120:1883",
        "broker": "192.168.1.120",
        "port": "1883",
        "clientid": "nodered-venus-validation",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": ""
    }
]