flux-nodered/Solar_power.json
[
  {
    "id": "414598e48f123ab2",
    "type": "tab",
    "label": "Solar_power",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "183ba1473a496661",
    "type": "mqtt in",
    "z": "414598e48f123ab2",
    "name": "SmartSolar Charger MPPT 150/35 VRM 289 (W)",
    "topic": "N/c0619ab9929a/solarcharger/289/Yield/Power",
    "qos": "0",
    "datatype": "json",
    "broker": "pi5_mqtt_broker",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 220,
    "y": 220,
    "wires": [
      [
        "505f07406818598d"
      ]
    ]
  },
  {
    "id": "5ca9f28db0a9a3a0",
    "type": "mqtt in",
    "z": "414598e48f123ab2",
    "name": "PV Inverter ET112 VRM 32 (W)",
    "topic": "N/c0619ab9929a/pvinverter/32/Ac/L1/Power",
    "qos": "0",
    "datatype": "json",
    "broker": "pi5_mqtt_broker",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 160,
    "y": 280,
    "wires": [
      [
        "ee9cc3805807ab69"
      ]
    ]
  },
  {
    "id": "0878904b656a48e3",
    "type": "mqtt in",
    "z": "414598e48f123ab2",
    "name": "SmartSolar MPPT VE.Can 250/100 VRM 273 (W)",
    "topic": "N/c0619ab9929a/solarcharger/273/Yield/Power",
    "qos": "0",
    "datatype": "json",
    "broker": "pi5_mqtt_broker",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 220,
    "y": 160,
    "wires": [
      [
        "d0bf53bab44b8e32"
      ]
    ]
  },
  {
    "id": "505f07406818598d",
    "type": "function",
    "z": "414598e48f123ab2",
    "name": "Stocker vrm 289 power",
    "func": "const v = msg.payload.value !== undefined ? msg.payload.value : msg.payload;\nflow.set('w_vrm_289', v);\nnode.status({fill:'blue',shape:'dot',text:`vrm_289: ${v}W`});\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 560,
    "y": 220,
    "wires": [
      [
        "10911d81284c4bc3"
      ]
    ]
  },
  {
    "id": "d0bf53bab44b8e32",
    "type": "function",
    "z": "414598e48f123ab2",
    "name": "Stocker vrm 273 power",
    "func": "const v = msg.payload.value !== undefined ? msg.payload.value : msg.payload;\nflow.set('w_vrm_273', v);\nnode.status({fill:'blue',shape:'dot',text:`vrm_273: ${v}W`});\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 660,
    "y": 160,
    "wires": [
      [
        "10911d81284c4bc3"
      ]
    ]
  },
  {
    "id": "ee9cc3805807ab69",
    "type": "function",
    "z": "414598e48f123ab2",
    "name": "Stocker vrm 32 power",
    "func": "const v = msg.payload.value !== undefined ? msg.payload.value : msg.payload;\nflow.set('w_vrm_32', v);\nnode.status({fill:'blue',shape:'dot',text:`vrm_32: ${v}W`});\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 400,
    "y": 280,
    "wires": [
      [
        "10911d81284c4bc3"
      ]
    ]
  },
  {
    "id": "10911d81284c4bc3",
    "type": "function",
    "z": "414598e48f123ab2",
    "name": "Formater + POST serveur BMS + MQTT",
    "func": "const token  = env.get('INFLUX_TOKEN');\nconst org    = env.get('INFLUX_ORG')    || 'santuario';\nconst bucket = env.get('INFLUX_BUCKET') || 'daly_bms';\n\nconst mppt_273   = flow.get('w_vrm_273')     || 0;\nconst mppt_289   = flow.get('w_vrm_289')     || 0;\nconst pvinverter = flow.get('w_vrm_32')      || 0;\nconst house_pw   = flow.get('house_power_w') || 0;\n\nconst mppt_only   = mppt_273 + mppt_289;\nconst solar_total = mppt_only + pvinverter;\n\nglobal.set('mppt_power_w', mppt_only);\nflow.set('solar_pw', solar_total);\nnode.status({ fill: 'green', shape: 'dot', text: `Sol: ${solar_total}W  Maison: ${house_pw}W` });\n\n// — Output 1 : InfluxDB line protocol —\nlet influxMsg = null;\nif (token) {\n    const now = new Date();\n    const parisISO = now.toLocaleString('sv-SE', { timeZone: 'Europe/Paris' });\n    const day = parisISO.substring(0, 10);\n    const ts  = Math.floor(Date.now() / 1000);\n    const hostname = (env.get('HOSTNAME') || 'pi5').replace(/[^a-zA-Z0-9_-]/g, '_');\n    const line = `solar_power,day=${day},host=${hostname} w_vrm_273=${mppt_273},w_vrm_289=${mppt_289},w_vrm_32=${pvinverter},solar_total=${solar_total},house_power=${house_pw} ${ts}`;\n    influxMsg = {\n        url:     `http://dalybms-influxdb:8086/api/v2/write?org=${org}&bucket=${bucket}&precision=s`,\n        method:  'POST',\n        payload: line,\n        headers: {\n            'Authorization': 'Token ' + token,\n            'Content-Type':  'text/plain; charset=utf-8'\n        }\n    };\n}\n\n// — Output 2 : POST vers daly-bms-server —\nconst serverMsg = {\n    url:     'http://192.168.1.141:8080/api/v1/solar/mppt-yield',\n    method:  'POST',\n    payload: JSON.stringify({ solar_total_w: solar_total, mppt_power_w: mppt_only, house_power_w: house_pw }),\n    headers: { 'Content-Type': 'application/json' }\n};\n\n// — Données individuelles par MPPT (format v2) —\nconst mppts = [\n    {\n        Instance:   273,\n        State:      flow.get('mppt_273_state')     || null,\n        PvVoltage:  flow.get('mppt_273_pv_v')      !== undefined ? flow.get('mppt_273_pv_v')  : null,\n        DcCurrent:  flow.get('mppt_273_dc_i')      !== undefined ? flow.get('mppt_273_dc_i')  : null,\n        Power:      mppt_273,\n        YieldToday: flow.get('mppt_273_yield_kwh') !== undefined ? flow.get('mppt_273_yield_kwh') : null\n    },\n    {\n        Instance:   289,\n        State:      flow.get('mppt_289_state')     || null,\n        PvVoltage:  flow.get('mppt_289_pv_v')      !== undefined ? flow.get('mppt_289_pv_v')  : null,\n        DcCurrent:  flow.get('mppt_289_dc_i')      !== undefined ? flow.get('mppt_289_dc_i')  : null,\n        Power:      mppt_289,\n        YieldToday: flow.get('mppt_289_yield_kwh') !== undefined ? flow.get('mppt_289_yield_kwh') : null\n    }\n];\n\n// — Output 3 : MQTT pour santuario/meteo/venus (daly-bms-server l'écoute) —\nconst mqttMsg = {\n    topic: 'santuario/meteo/venus',\n    payload: JSON.stringify({\n        Irradiance:     global.get('irradiance_wm2') || 0,\n        TodaysYield:    Math.round((global.get('total_yield_today') || 0) * 10) / 10,\n        YieldYesterday: global.get('yield_yesterday') || 0,\n        WindSpeed:      global.get('outdoor_wind_speed') || 0,\n        WindDirection:  global.get('outdoor_wind_dir') || 0,\n        MpptPower:      mppt_only,\n        SolarTotal:     solar_total,\n        Mppts:          mppts\n    }),\n    retain: true\n};\n\nreturn [influxMsg, serverMsg, mqttMsg];",
    "outputs": 3,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 530,
    "y": 380,
    "wires": [
      [
        "1bb0b7c97b9aab63"
      ],
      [
        "c7e8f9a0b1d2e3f4"
      ],
      [
        "mppt_mqtt_out"
      ]
    ]
  },
  {
    "id": "1bb0b7c97b9aab63",
    "type": "http request",
    "z": "414598e48f123ab2",
    "name": "InfluxDB Write (solar_power)",
    "method": "use",
    "ret": "txt",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 400,
    "y": 480,
    "wires": [
      []
    ]
  },
  {
    "id": "c7e8f9a0b1d2e3f4",
    "type": "http request",
    "z": "414598e48f123ab2",
    "name": "POST mppt_power_w → daly-bms-server",
    "method": "use",
    "ret": "txt",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 690,
    "y": 480,
    "wires": [
      []
    ]
  },
  {
    "id": "6311801a23e09439",
    "type": "comment",
    "z": "414598e48f123ab2",
    "name": "Solar power → InfluxDB + daly-bms-server",
    "info": "Sujets MQTT utilisés :\n\nSmartSolar MPPT VE.Can 250/100 (instance 273)\nN/c0619ab9929a/solarcharger/273/Yield/Power\n\nSmartSolar Charger MPPT 150/35 (instance 289)\nN/c0619ab9929a/solarcharger/289/Yield/Power\n\nPV Inverter ET112 addr 0x07 (instance 32)\nN/c0619ab9929a/pvinverter/32/Ac/L1/Power\n\nESS AC Output Consumption (Maison)\nN/c0619ab9929a/system/0/Ac/ConsumptionOnOutput/L1/Power\n\n---\nPOST /api/v1/solar/mppt-yield envoie :\n  solar_total_w = 273+289+ET112 (source de vérité VRM)\n  mppt_power_w  = 273+289 seulement (pour meteo.json Venus OS)\n  house_power_w = ConsumptionOnOutput (valeur directe VRM, pas calculée)\n\nglobal.mppt_power_w est aussi lu par meteo.json keepalive (push Venus OS).",
    "x": 190,
    "y": 100,
    "wires": []
  },
  {
    "id": "f1a2b3c4d5e6f7a8",
    "type": "mqtt in",
    "z": "414598e48f123ab2",
    "name": "ESS AC Output Consumption L1 (W)",
    "topic": "N/c0619ab9929a/system/0/Ac/ConsumptionOnOutput/L1/Power",
    "qos": "0",
    "datatype": "json",
    "broker": "pi5_mqtt_broker",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 220,
    "y": 340,
    "wires": [
      [
        "a8b7c6d5e4f3a2b1"
      ]
    ]
  },
  {
    "id": "a8b7c6d5e4f3a2b1",
    "type": "function",
    "z": "414598e48f123ab2",
    "name": "Stocker house_power_w",
    "func": "const v = msg.payload.value !== undefined ? msg.payload.value : msg.payload;\nflow.set('house_power_w', v);\nnode.status({fill:'purple',shape:'dot',text:`maison: ${v}W`});\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 520,
    "y": 340,
    "wires": [
      [
        "10911d81284c4bc3"
      ]
    ]
  },
  {
    "id": "mppt_mqtt_out",
    "type": "mqtt out",
    "z": "414598e48f123ab2",
    "name": "MQTT out santuario/meteo/venus",
    "topic": "",
    "qos": "1",
    "retain": true,
    "broker": "pi5_mqtt_broker",
    "x": 900,
    "y": 380,
    "wires": []
  },
  {
    "id": "pi5_mqtt_broker",
    "type": "mqtt-broker",
    "name": "Pi5 MQTT",
    "broker": "dalybms-mosquitto",
    "port": "1883",
    "clientid": "",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "autoUnsubscribe": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthRetain": "false",
    "birthPayload": "",
    "birthMsg": {},
    "closeTopic": "",
    "closeQos": "0",
    "closeRetain": "false",
    "closePayload": "",
    "closeMsg": {},
    "willTopic": "",
    "willQos": "0",
    "willRetain": "false",
    "willPayload": "",
    "willMsg": {},
    "userProps": "",
    "sessionExpiry": ""
  },
  {
    "id": "mqtt_mppt_273_state",
    "type": "mqtt in",
    "z": "414598e48f123ab2",
    "name": "MPPT 273 State",
    "topic": "N/c0619ab9929a/solarcharger/273/State",
    "qos": "0",
    "datatype": "json",
    "broker": "pi5_mqtt_broker",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 150,
    "y": 500,
    "wires": [
      [
        "fn_mppt_273_state"
      ]
    ]
  },
  {
    "id": "mqtt_mppt_273_pv",
    "type": "mqtt in",
    "z": "414598e48f123ab2",
    "name": "MPPT 273 PV Voltage",
    "topic": "N/c0619ab9929a/solarcharger/273/Pv/V",
    "qos": "0",
    "datatype": "json",
    "broker": "pi5_mqtt_broker",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 150,
    "y": 540,
    "wires": [
      [
        "fn_mppt_273_pv"
      ]
    ]
  },
  {
    "id": "mqtt_mppt_273_dc",
    "type": "mqtt in",
    "z": "414598e48f123ab2",
    "name": "MPPT 273 DC Current",
    "topic": "N/c0619ab9929a/solarcharger/273/Dc/0/Current",
    "qos": "0",
    "datatype": "json",
    "broker": "pi5_mqtt_broker",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 150,
    "y": 580,
    "wires": [
      [
        "fn_mppt_273_dc"
      ]
    ]
  },
  {
    "id": "mqtt_mppt_273_yield",
    "type": "mqtt in",
    "z": "414598e48f123ab2",
    "name": "MPPT 273 Yield Today",
    "topic": "N/c0619ab9929a/solarcharger/273/History/Daily/0/Yield",
    "qos": "0",
    "datatype": "json",
    "broker": "pi5_mqtt_broker",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 150,
    "y": 620,
    "wires": [
      [
        "fn_mppt_273_yield"
      ]
    ]
  },
  {
    "id": "fn_mppt_273_state",
    "type": "function",
    "z": "414598e48f123ab2",
    "name": "Store MPPT 273 State",
    "func": "const v = msg.payload.value !== undefined ? msg.payload.value : msg.payload;\nconst labels = {0:'Off',2:'Fault',3:'Bulk',4:'Absorption',5:'Float',6:'Storage',7:'Equalize',11:'HV Solar',252:'Ext Ctrl'};\nconst lbl = labels[v] || `State ${v}`;\nflow.set('mppt_273_state', lbl);\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 420,
    "y": 500,
    "wires": [
      [
        "10911d81284c4bc3"
      ]
    ]
  },
  {
    "id": "fn_mppt_273_pv",
    "type": "function",
    "z": "414598e48f123ab2",
    "name": "Store MPPT 273 PV V",
    "func": "const v = msg.payload.value !== undefined ? msg.payload.value : msg.payload;\nflow.set('mppt_273_pv_v', v);\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 420,
    "y": 540,
    "wires": [
      [
        "10911d81284c4bc3"
      ]
    ]
  },
  {
    "id": "fn_mppt_273_dc",
    "type": "function",
    "z": "414598e48f123ab2",
    "name": "Store MPPT 273 DC I",
    "func": "const v = msg.payload.value !== undefined ? msg.payload.value : msg.payload;\nflow.set('mppt_273_dc_i', v);\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 420,
    "y": 580,
    "wires": [
      [
        "10911d81284c4bc3"
      ]
    ]
  },
  {
    "id": "fn_mppt_273_yield",
    "type": "function",
    "z": "414598e48f123ab2",
    "name": "Store MPPT 273 Yield",
    "func": "const v = msg.payload.value !== undefined ? msg.payload.value : msg.payload;\nflow.set('mppt_273_yield_kwh', v);\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 420,
    "y": 620,
    "wires": [
      [
        "10911d81284c4bc3"
      ]
    ]
  },
  {
    "id": "mqtt_mppt_289_state",
    "type": "mqtt in",
    "z": "414598e48f123ab2",
    "name": "MPPT 289 State",
    "topic": "N/c0619ab9929a/solarcharger/289/State",
    "qos": "0",
    "datatype": "json",
    "broker": "pi5_mqtt_broker",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 150,
    "y": 1780,
    "wires": [
      [
        "fn_mppt_289_state"
      ]
    ]
  },
  {
    "id": "mqtt_mppt_289_pv",
    "type": "mqtt in",
    "z": "414598e48f123ab2",
    "name": "MPPT 289 PV Voltage",
    "topic": "N/c0619ab9929a/solarcharger/289/Pv/V",
    "qos": "0",
    "datatype": "json",
    "broker": "pi5_mqtt_broker",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 150,
    "y": 1820,
    "wires": [
      [
        "fn_mppt_289_pv"
      ]
    ]
  },
  {
    "id": "mqtt_mppt_289_dc",
    "type": "mqtt in",
    "z": "414598e48f123ab2",
    "name": "MPPT 289 DC Current",
    "topic": "N/c0619ab9929a/solarcharger/289/Dc/0/Current",
    "qos": "0",
    "datatype": "json",
    "broker": "pi5_mqtt_broker",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 150,
    "y": 1860,
    "wires": [
      [
        "fn_mppt_289_dc"
      ]
    ]
  },
  {
    "id": "mqtt_mppt_289_yield",
    "type": "mqtt in",
    "z": "414598e48f123ab2",
    "name": "MPPT 289 Yield Today",
    "topic": "N/c0619ab9929a/solarcharger/289/History/Daily/0/Yield",
    "qos": "0",
    "datatype": "json",
    "broker": "pi5_mqtt_broker",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 150,
    "y": 1900,
    "wires": [
      [
        "fn_mppt_289_yield"
      ]
    ]
  },
  {
    "id": "fn_mppt_289_state",
    "type": "function",
    "z": "414598e48f123ab2",
    "name": "Store MPPT 289 State",
    "func": "const v = msg.payload.value !== undefined ? msg.payload.value : msg.payload;\nconst labels = {0:'Off',2:'Fault',3:'Bulk',4:'Absorption',5:'Float',6:'Storage',7:'Equalize',11:'HV Solar',252:'Ext Ctrl'};\nconst lbl = labels[v] || `State ${v}`;\nflow.set('mppt_289_state', lbl);\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 420,
    "y": 1780,
    "wires": [
      [
        "10911d81284c4bc3"
      ]
    ]
  },
  {
    "id": "fn_mppt_289_pv",
    "type": "function",
    "z": "414598e48f123ab2",
    "name": "Store MPPT 289 PV V",
    "func": "const v = msg.payload.value !== undefined ? msg.payload.value : msg.payload;\nflow.set('mppt_289_pv_v', v);\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 420,
    "y": 1820,
    "wires": [
      [
        "10911d81284c4bc3"
      ]
    ]
  },
  {
    "id": "fn_mppt_289_dc",
    "type": "function",
    "z": "414598e48f123ab2",
    "name": "Store MPPT 289 DC I",
    "func": "const v = msg.payload.value !== undefined ? msg.payload.value : msg.payload;\nflow.set('mppt_289_dc_i', v);\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 420,
    "y": 1860,
    "wires": [
      [
        "10911d81284c4bc3"
      ]
    ]
  },
  {
    "id": "fn_mppt_289_yield",
    "type": "function",
    "z": "414598e48f123ab2",
    "name": "Store MPPT 289 Yield",
    "func": "const v = msg.payload.value !== undefined ? msg.payload.value : msg.payload;\nflow.set('mppt_289_yield_kwh', v);\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 420,
    "y": 1900,
    "wires": [
      [
        "10911d81284c4bc3"
      ]
    ]
  }
]